<p id="notice"><%= notice %></p>

<p>
  <strong>Fiber:</strong>
  <%= @component.fiber %>
</p>

<p>
  <strong>Countryoforgin:</strong>
  <%= @component.countryoforgin %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @component.customer %>
</p>

<p>
  <strong>Mill:</strong>
  <%= @component.mill %>
</p>

<p>
  <strong>Code:</strong>
  <%= @component.code %>
</p>

<p>
  <strong>Hangtag2:</strong>
  <%= @component.hangtag2 %>
</p>

<p>
  <strong>Hangtag3:</strong>
  <%= @component.hangtag3 %>
</p>

<p>
  <strong>Mainlabel:</strong>
  <%= @component.mainlabel %>
</p>

<p>
  <strong>Carecontentlabel:</strong>
  <%= @component.carecontentlabel %>
</p>

<p>
  <strong>Upcsticker:</strong>
  <%= @component.upcsticker %>
</p>

<p>
  <strong>Glovehanger:</strong>
  <%= @component.glovehanger %>
</p>

<p>
  <strong>Hatjhook:</strong>
  <%= @component.hatjhook %>
</p>

<p>
  <strong>Sizelabel:</strong>
  <%= @component.sizelabel %>
</p>

<%= link_to 'Edit', edit_component_path(@component) %> |
<%= link_to 'Back', components_path %>
