<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sl</th>
                  <th>User Role</th>
                  <th>Descriptions</th>
									<th>Created Date</th>
                  <th colspan='3'>Actions</th>
                </tr>
              </thead>
              <tbody>
								<% @i=1 %>
								<% @usertypes.each do |usertype| %>
									<tr class="gradeX">
										<td><%= @i %></td>
										<td><%= usertype.userrole %></td>
										<td><%= usertype.description %></td>
										<td><%= usertype.created_at %></td>
										<!--<td><%= link_to 'Show', usertype,class:'btn btn-success' %></td>-->
										<td><%= link_to 'Edit', edit_usertype_path(usertype),class:'btn btn-info' %></td>
										<td><%= link_to 'Delete', usertype, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
									</tr>
									<% @i+=1%>
								<% end %>	
							</tbody>
            </table>
				
         	</div>
       </div>
   </div>
			<%= link_to 'New Usertype', new_usertype_path ,class:'btn btn-success' %>
</div>

