<p id="notice"><%= notice %></p>

<p>
  <strong>Screencount:</strong>
  <%= @costsheet.screencount %>
</p>

<p>
  <strong>Firstcost:</strong>
  <%= @costsheet.firstcost %>
</p>

<p>
  <strong>Duty:</strong>
  <%= @costsheet.duty %>
</p>

<p>
  <strong>Freight:</strong>
  <%= @costsheet.freight %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @costsheet.insurance %>
</p>

<p>
  <strong>Commision:</strong>
  <%= @costsheet.commision %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @costsheet.misc %>
</p>

<p>
  <strong>Designcharges:</strong>
  <%= @costsheet.designcharges %>
</p>

<p>
  <strong>Croquisnonduty:</strong>
  <%= @costsheet.croquisnonduty %>
</p>

<p>
  <strong>Screens:</strong>
  <%= @costsheet.screens %>
</p>

<p>
  <strong>Soffs:</strong>
  <%= @costsheet.soffs %>
</p>

<p>
  <strong>Testing:</strong>
  <%= @costsheet.testing %>
</p>

<p>
  <strong>Qa:</strong>
  <%= @costsheet.qa %>
</p>

<p>
  <strong>Componentslstring:</strong>
  <%= @costsheet.componentsLstring %>
</p>

<p>
  <strong>Ldp:</strong>
  <%= @costsheet.ldp %>
</p>

<p>
  <strong>Retail:</strong>
  <%= @costsheet.retail %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @costsheet.comments %>
</p>

<%= link_to 'Edit', edit_costsheet_path(@costsheet) %> |
<%= link_to 'Back', costsheets_path %>
