<script>
$(document).ready(function() { 
    $('#handle').bind('mousewheel', function(event, delta) { 
        val = this.scrollLeft - (delta * 50); 
        jQuery(this).stop().animate({ 
            scrollLeft: val 
        }, 500); 
        event.preventDefault(); 
    }); 
}); 

</script>
<% trackingsheets=Trackingsheet.where('processmaster_id'=>BSON::ObjectId.from_string(request.GET.first.second.to_s))%> 


								<%
									#data=[]
								 data={'images'=>'Images','factory'=>'Factory','subcontractor'=>'Sub Contractor','salestrackingsheetedtosamplerequest'=>'Sales Proceed to Sample Request','customername'=>'Customer Name','customeraccount'=>'Customer Account','project'=>'Project','xmilldate'=>'X Mill Date','productionleadtime'=>'Production Lead Time', 'salesproceedtosamplerequest'=>'Sales Proceed to Sample Request','protoduebackfromvendor'=>'Proto Due Back From Vendor','daftovendordate'=>'Daf to Vendor Date','rtlmu'=>'RTL MU','mkup'=>'MK-UP','projectedunits'=>'Projected Units','targetfob'=>'Target FOB','targetmu'=>'Target MU','targetws'=>'Target WS','percolor'=>'Per Color','perstyle'=>'Per Style','incoterms'=>'Inco Terms','moq'=>'MOQ','thousandtofivethousandPCS'=>'1000 - 5000 PCS','fivethousandtotenthousandPCS'=>'5000 - 10000 PCS','ldpboat'=>'LDP Boat','ldpair'=>'LDP Air','startshipdate'=>'Start Ship Date','orderduedateviaboat'=>'Order Due Date Via Boat','orderduedateviaair'=>'Order Due Date Via Air','soss'=>'S/O OR S/S','nmbrofdefsmplneeded'=>'# of Dev Samples Needed','dafissued'=>'DAF Issued','sampleduedate'=>'Sample Due Date','daf2soss'=>'S/O OR S/S','daf2nmbrofdefsmplneeded'=>'# of Dev Samples Needed','daf2dafissued'=>'DAF Issued','daf2sampleduedate'=>'Sample Due Date','comments'=>'Comments'}
								#data=[{'factory'=>'Factory'}]
  

								%>



								<div class="container-fluid">


								<div class="row-fluid">

								<!-- Newly Added Starts-->
								<div class="span12">
	
									<span style="text-align:right; margin-top:2px;">
								<div class="widget-box">

								<%#= link_to "Apply Changes", url_for(params),:class => 'btn btn-warning btn-xs' %> 	
								</span>

								<div class="widget-title">
									<span class="icon">
										<i class="icon-file"></i>
									</span>
	

									<h5>Tracking Sheet</h5>



									   
								</div>	
								<div style="width:100%; !important;height:500px;overflow:scroll" id="handle">
	
								                 <!-- Indicators -->   
													
				<!-- Scroll Tabs Starts-->

                    <div class="item active">	
						
                        
                         

										<div class="widget-content nopadding">
											
														
										<table class="table table-bordered"  style="margin-left: 20%;">
											<thead>
												<tr>
													<th></th>
													<th></th>
													
													<th></th>
													<th></th>
													<th></th>
													<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												<th colspan="7"> 1st DAF</th>
												<th colspan="7"> 2nd DAF</th>
												<th></th>
												<th></th>
												<th></th>
												<th></th>
												</tr>											
											
											
											
											
											
											
											
											
											
											
									<tr>
										<th>ACTIONS</th>
										<th>ECHO DIVISION</th>
										
										<th>SEASON</th>
										<th>YEAR</th>
										<th>MARKET</th>
										<th>IMAGES</th>
										<th>FACTORY</th>
										<th>SUBCONTRACTOR</th>
										<th>BRAND</th>
										<th>CUSTOMER NAME</th>
										<th>CUSTOMER ACCOUNT #</th>
										<th>PROJECT #</th>
										<th>REFERENCE STYLE</th>
										<th>CUSTOMER STYLE #</th>
										<th>PROTO # / DAF #</th>
										<th>DESIGNER</th>
										<th>GROUP NAME</th>
										<th>PRODUCT CATEGORY</th>
										<th>DESIGN NAME / DESCRIPTION</th>
										<th>SHAPE (level code 4)</th>
										<th>SIZE (level code 6)</th>
										<th>FIBER (level code 2)</th>
										<th>CONSTRUCTION (level code 1)</th>
										<th>FABRIC TYPE (level code 3)</th>
										<th>GAUGE / END</th>
										<th>FINISH</th>
										<th>FINISH DETAIL</th>
										<th>COLORS</th>
										<th>HARDWARE / LOGO / TRIM</th>
										<th>COMPONENT (labels / tickets)</th>
										<th>PROJECTED UNITS</th>
										<th>TARGET FOB</th>
										<th>TARGET MU</th>
										<th>TARGET WS</th>
										<th>TARGET RETAIL US $</th>
										<th>TARGET RETAIL CAN $</th>
										<th>PER COLOR</th>
										<th>INCO TERMS</th>
										<th>PRICE BASED UPON PROJECTION</th>
										<th>ADDITIONAL SURCHARGE</th>
										<th>MOQ</th>
										<th>1000 - 5000 PCS</th>
										<th>5000 - 10000 PCS</th>
										<th>10000 - 20000 PCS</th>
										<th>20000+ PCS</th>
										<th>LDP BOAT</th>
										<th>LDP AIR</th>
										<th>X MILL DATE</th>
										<th>START SHIP DATE</th>
										<th>ORDER DUE DATE VIA BOAT</th>
										<th>ORDER DUE DATE VIA AIR</th>
										<th>PRODUCT LEAD TIME</th>
										<th>SALES PROCEEDS TO SAMPLE REQUEST DATE</th>
										<th>PROTO DUE BACK FROM VENDOR</th>
										<th>DAF TO VENDOR DATE</th>
										
										<th> S/0 OR S/S</th>
										<th># OF DEV. SAMPLES NEEDED</th>
										<th>DAF ISSUED </th>
										<th>SAMPLE DUE DATE</th>
										<th>X-MILL</th>
										<th>RECEIVED </th>
										<th>APPROVED </th>
										<th> S/0 OR S/S</th>
										<th># OF DEV. SAMPLES NEEDED</th>
										<th>DAF ISSUED </th>
										<th>SAMPLE DUE DATE</th>
										<th>X-MILL</th>
										<th>RECEIVED </th>
										<th>APPROVED </th>
										<th>RECEIVED (VSDS)</th>
										<th>APPROVED (VSDS)</th>
										<th>RTL MU</th>
										<th>MK-UP</th>
										</tr>
										</thead>
										
	<% model_class='trackingsheet' %>
	<% @a=1%>
	<% trackingsheets.each do |trackingsheet|%>
	<% if !trackingsheet.vendor.blank? %>
	<% 	if current_user.id==BSON::ObjectId.from_string(trackingsheet.vendor.to_s) %>
	<%= form_for trackingsheet, :html => {:class => "form-horizontal trackingsheet_form"} do |f| %>
														
<tbody>			
<tr>
<td style="text-align:center;"><%= link_to "Comments", url_for(params),:class => 'btn btn-warning btn-xs' %> <br> <%= link_to " History ", url_for(params),:class => 'btn btn-warning btn-xs' %> </td>
<td style="text-align:center;"><%=trackingsheet.style.division.name%></td>
<!--><td style="text-align:center;"><%#=trackingsheet.style.division.name%></td>-->
<td style="text-align:center;"><%=trackingsheet.style.season%></td>
<td style="text-align:center;"></td>
<td style="text-align:center;"><%=trackingsheet.style.market%></td>
<td style="text-align:center;"><%= image_tag "/vendorportal"+trackingsheet.style.image.url(:small)  %></td>	
<td class="bestin" style="text-align:center;">
	<% if	!trackingsheet.vendor.blank? %>
				<% if current_user.userrole=='vendor'  %>
 					<%=best_in_place_if factory,  trackingsheet, :factory, :as => :input,:nil => "Click to add content!"%>
 				<% else  %>
 					<%=best_in_place_if false,  trackingsheet, :factory, :as => :input,:nil => "Click to add content!"%>
 				<% end %>
 	<% else %>
 				<% if current_user.userrole!='vendor' %>
 					<%=best_in_place_if factory,  trackingsheet, :factory, :as => :input,:nil => "Click to add content!"%>
 													
 	<% end %>
 	<% end %>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if subcontractor,  trackingsheet, :subcontractor, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if brand,  trackingsheet, :brand, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if customername,  trackingsheet, :customername, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if customeraccountnumber,  trackingsheet, :customeraccountnumber, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if projectnumber,  trackingsheet, :projectnumber, :as => :input,:nil => "Click to add content!"%>
</td>
<td style="text-align:center;">
	<%=trackingsheet.style.stylename %>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if customerstylenumber,  trackingsheet, :customerstylenumber, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if proto_daf_number,  trackingsheet, :proto_daf_number, :as => :input,:nil => "Click to add content!"%>
</td>
<td style="text-align:center;">
	<%=trackingsheet.style.stylecode %>
</td>
<td style="text-align:center;"></td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if groupname,  trackingsheet, :groupname, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if productcategory,  trackingsheet, :productcategory, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if designname,  trackingsheet, :designname, :as => :input,:nil => "Click to add content!"%>
</td>	
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if shape,  trackingsheet, :shape, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if size,  trackingsheet, :size, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if fiber,  trackingsheet, :fiber, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if construction,  trackingsheet, :construction, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if fabrictype,  trackingsheet, :fabrictype, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if gauge_end,  trackingsheet, :gauge_end, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if finish,  trackingsheet, :finish, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if finishdetails,  trackingsheet, :finishdetails, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if colors,  trackingsheet, :colors, :as => :input,:nil => "Click to add content!"%>
</td>
<td style="text-align:center;">
	<%= link_to "Link To Tab", url_for(params),:class => 'btn btn-warning btn-xs' %> 
</td>
<td style="text-align:center;">
	<%= link_to "Link To Tab", url_for(params),:class => 'btn btn-warning btn-xs' %> 
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if projectedunits,  trackingsheet, :projectedunits, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if targetfob,  trackingsheet, :targetfob, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if targetmu,  trackingsheet, :targetmu, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if targetws,  trackingsheet, :targetws, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if targetretailus,  trackingsheet, :targetretailus, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if targetretailcan,  trackingsheet, :targetretailcan, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if percolor,  trackingsheet, :percolor, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if incoterms,  trackingsheet, :incoterms, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if pricebasedonprojection,  trackingsheet, :pricebasedonprojection, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if additionalsurcharge,  trackingsheet, :additionalsurcharge, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if moq,  trackingsheet, :moq, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if thousandtofivethousandPCS,  trackingsheet, :thousandtofivethousandPCS, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if fivethousandtotenthousandPCS,  trackingsheet, :fivethousandtotenthousandPCS, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if tenthousandtotwentythousandPCS,  trackingsheet, :tenthousandtotwentythousandPCS, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if twentythousandplusPCS,  trackingsheet, :twentythousandplusPCS, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if ldpboat,  trackingsheet, :ldpboat, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if ldpair,  trackingsheet, :ldpair, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if xmilldate,  trackingsheet, :xmilldate, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if startshipdate,  trackingsheet, :startshipdate, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if orderduedateviaboat,  trackingsheet, :orderduedateviaboat, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if orderduedateviaair,  trackingsheet, :orderduedateviaair, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if productionleadtime,  trackingsheet, :productionleadtime, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if salesproceedtosamplerequest,  trackingsheet, :salesproceedtosamplerequest, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if protoduebackfromvendor,  trackingsheet, :protoduebackfromvendor, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daftovendordate,  trackingsheet, :daftovendordate, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if soss,  trackingsheet, :soss, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if nmbrofdefsmplneeded,  trackingsheet, :nmbrofdefsmplneeded, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if dafissued,  trackingsheet, :dafissued, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if sampleduedate,  trackingsheet, :sampleduedate, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if xmill,  trackingsheet, :xmill, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if received,  trackingsheet, :received, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if approved,  trackingsheet, :approved, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2soss,  trackingsheet, :daf2soss, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2nmbrofdefsmplneeded,  trackingsheet, :daf2nmbrofdefsmplneeded, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2dafissued,  trackingsheet, :daf2dafissued, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2sampleduedate,  trackingsheet, :daf2sampleduedate, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2xmill,  trackingsheet, :daf2xmill, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2received,  trackingsheet, :daf2received, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if daf2approved,  trackingsheet, :daf2approved, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if vsdsreceived,  trackingsheet, :vsdsreceived, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if vsdsapproved,  trackingsheet, :vsdsapproved, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if rtlmu,  trackingsheet, :rtlmu, :as => :input,:nil => "Click to add content!"%>
</td>
<td class="bestin" style="text-align:center;">
	<%=best_in_place_if mkup,  trackingsheet, :mkup, :as => :input,:nil => "Click to add content!"%>
</td>
</tr>										

		</tbody>
		<% @a=@a+1%>
		<% end %>
		<% end %>
		<% end %>	
		<% end %>						
		</table>
		</div>



															
							</div>
						
						

                                                                
	                </div> 

                                
	            </div> 


			</div>			

	<!-- Newly Added Ends-->
	</div>
	</div>
		
