								<% trackingsheets=Trackingsheet.where('processmaster_id'=>BSON::ObjectId.from_string(request.GET.first.second.to_s))%> 





								<%
									#data=[]
								 data={'images'=>'Images','factory'=>'Factory','subcontractor'=>'Sub Contractor','salestrackingsheetedtosamplerequest'=>'Sales Proceed to Sample Request','customername'=>'Customer Name','customeraccount'=>'Customer Account','project'=>'Project','xmilldate'=>'X Mill Date','productionleadtime'=>'Production Lead Time', 'salesproceedtosamplerequest'=>'Sales Proceed to Sample Request','protoduebackfromvendor'=>'Proto Due Back From Vendor','daftovendordate'=>'Daf to Vendor Date','rtlmu'=>'RTL MU','mkup'=>'MK-UP','projectedunits'=>'Projected Units','targetfob'=>'Target FOB','targetmu'=>'Target MU','targetws'=>'Target WS','percolor'=>'Per Color','perstyle'=>'Per Style','incoterms'=>'Inco Terms','moq'=>'MOQ','thousandtofivethousandPCS'=>'1000 - 5000 PCS','fivethousandtotenthousandPCS'=>'5000 - 10000 PCS','ldpboat'=>'LDP Boat','ldpair'=>'LDP Air','startshipdate'=>'Start Ship Date','orderduedateviaboat'=>'Order Due Date Via Boat','orderduedateviaair'=>'Order Due Date Via Air','soss'=>'S/O OR S/S','nmbrofdefsmplneeded'=>'# of Dev Samples Needed','dafissued'=>'DAF Issued','sampleduedate'=>'Sample Due Date','daf2soss'=>'S/O OR S/S','daf2nmbrofdefsmplneeded'=>'# of Dev Samples Needed','daf2dafissued'=>'DAF Issued','daf2sampleduedate'=>'Sample Due Date','comments'=>'Comments'}
								#data=[{'factory'=>'Factory'}]
  

								%>
								<div class="container-fluid"> 
								<!--             	<div class="row-fluid">

													<div class="span12">
														<div class="widget-box">
															<div class="widget-title">
																<span class="icon">
																	<i class="icon-info-sign"></i>
																</span>
																<h5>General Data</h5>
															</div>
															<div class="widget-content nopadding">
																<table class="table table-bordered">
																	<th>Division</th>
																	<th>Brand</th>
																	<th>Season</th>
																	<th>Year</th>
																	<th>Market</th>
																	<tbody>

																	</tbody>
																</table>
															</div>
														</div>
													</div>
								</div>
								</div>-->


								<div class="container-fluid">


								<div class="row-fluid">

								<!-- Newly Added Starts-->
								<div class="span12">
	
									<span style="text-align:right; margin-top:2px;">
								<div class="widget-box">

								<%= link_to "Apply Changes", url_for(params),:class => 'btn btn-warning btn-xs' %> 	
								</span>

																				<div class="widget-title">
																					<span class="icon">
																						<i class="icon-file"></i>
																					</span>
													
												
																					<h5>Tracking Sheet #  <%= @a%></h5>
									
									
									
																					 <div class="carousel-controls margin-top-10px">
																				      <a class="carousel-control overide-carousel-control left overide-left" href="#myCarousel<%= @a%>" data-slide="prev"> <i class="icon-step-backward"></i> </a>
																				      <a class="carousel-control overide-carousel-control right overide-right" href="#myCarousel<%= @a%>" data-slide="next"><i class="icon-step-forward"></i> </a>
																				  </div>   
																				</div>	
								<div id="myCarousel<%= @a%>" class="carousel slide">






	
								                 <!-- Indicators -->         
								                <div class="carousel-inner">           
								                    <div class="item active">
														
								                        <blockquote>
                          	
											
																				<div class="widget-content nopadding">
																					<table class="table table-bordered">
																						<th>Factory</th>
																						<th>Subcontractors</th>
																						<th>X Mill Date</th>
																						<th>Production Lead Time</th>
																						<th>Sales Proceed to Sample Request</th>
																						<th>Proto Due Back From Vendor</th>
												<% model_class='trackingsheet' %>
												<% @a=1%>
												<% trackingsheets.each do |trackingsheet|%>

												<%= form_for trackingsheet, :html => {:class => "form-horizontal trackingsheet_form"} do |f| %>



												<% @processmaster=Processmaster.find(trackingsheet.processmaster_id) %>		
																						<tbody>
												<td style="text-align:center;">
					
													<%= best_in_place trackingsheet, :factory%>
				
												</td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :subcontractor%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :xmilldate%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :productionleadtime%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :salesproceedtosamplerequest%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :protoduebackfromvendor%></td>
				
																						</tbody>
																						<% @a=@a+1%>
																						<% end %>

																						<% end %>
																					</table>
																				</div>
											
										
								                        </blockquote>
														
						
								                    </div>
								                    <div class="item">
														
								                        <blockquote>
                          
																						<div class="widget-content nopadding">
																					<table class="table table-bordered">
														
																						<th>Daf to Vendor Date</th>
																						<th>RTL MU</th>
																						<th>MK-UP</th>
																						<th>Comments</th>
																						<th>Projected Units</th>
																						<th>Target FOB</th>
														<% model_class='trackingsheet' %>
														<% @a=1%>
														<% trackingsheets.each do |trackingsheet|%>

														<%= form_for trackingsheet, :html => {:class => "form-horizontal trackingsheet_form"} do |f| %>
	 
	
 	
														<% @processmaster=Processmaster.find(trackingsheet.processmaster_id) %>
																						<tbody>
				
												<td style="text-align:center;"><%=best_in_place trackingsheet, :daftovendordate%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :rtlmu%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :mkup%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :comments%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :projectedunits%></td>
												<td style="text-align:center;"><%=best_in_place trackingsheet, :targetfob%></td>
				
				
																						</tbody>
																				<% @a=@a+1%>
																				<% end %>

																				<% end %>		
																					</table>
																				</div>


								                        </blockquote>
														
								                     </div>  
       
					
													<!-- Scroll Tabs Starts-->
					
									                    <div class="item">
															
									                        <blockquote>
							
                         

																							<div class="widget-content nopadding">
																						<table class="table table-bordered">
														
																							<th>Target MU</th>
																							<th>Target WS</th>
																							<th>Per Color</th>
																							<th>Per Style</th>
																							<th>Inco Terms</th>
																							<th>MOQ</th>
											<% model_class='trackingsheet' %>
											<% @a=1%>
											<% trackingsheets.each do |trackingsheet|%>

											<%= form_for trackingsheet, :html => {:class => "form-horizontal trackingsheet_form"} do |f| %>



											<% @processmaster=Processmaster.find(trackingsheet.processmaster_id) %>			
																							<tbody>
				
													<td style="text-align:center;"><%=best_in_place trackingsheet, :targetmu%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :targetws%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :percolor%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :perstyle%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :incoterms%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :moq%></td>
				
																							</tbody>
													<% @a=@a+1%>
													<% end %>

													<% end %>										
																						</table>
																					</div>


									                        </blockquote>
															
														</div>
													<!-- Scroll Tabs Ends-->
					
													<!-- Scroll Tabs Starts-->
					
									                    <div class="item">
															
	
 	
															
									                        <blockquote>
                         

																							<div class="widget-content nopadding">
																						<table class="table table-bordered">
														
																							<th>1000 - 5000 PCS</th>
																							<th>5000 - 10000 PCS</th>
																							<th>LDP Boat</th>
																							<th>LDP Air</th>
																							<th>Start Ship Date</th>
																							<th>Order Due Date Via Boat</th>
													<% model_class='trackingsheet' %>
													<% @a=1%>
													<% trackingsheets.each do |trackingsheet|%>

													<%= form_for trackingsheet, :html => {:class => "form-horizontal trackingsheet_form"} do |f| %>
														
																							<tbody>
				
													<td style="text-align:center;"><%=best_in_place trackingsheet, :thousandtofivethousandPCS%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :fivethousandtotenthousandPCS%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :ldpboat%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :ldpair%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :startshipdate%></td>
													<td style="text-align:center;"><%=best_in_place trackingsheet, :orderduedateviaboat%></td>
				
																							</tbody>
																	<% @a=@a+1%>
																	<% end %>

																	<% end %>						
																						</table>
																					</div>


									                        </blockquote>
															
														</div>
													<!-- Scroll Tabs Ends-->	
					
					
					                                                                        
								                </div> 
                          
                                                            
								            </div><!-- End Carousel -->  
					
					
										</div>			
					
								<!-- Newly Added Ends-->
								</div>



								

							


		
								</div>	