<%
	#data=[]
 data={'images'=>'Images','factory'=>'Factory','subcontractor'=>'Sub Contractor','salestrackingsheetedtosamplerequest'=>'Sales Proceed to Sample Request','customername'=>'Customer Name','customeraccount'=>'Customer Account','project'=>'Project','xmilldate'=>'X Mill Date','productionleadtime'=>'Production Lead Time', 'salesproceedtosamplerequest'=>'Sales Proceed to Sample Request','protoduebackfromvendor'=>'Proto Due Back From Vendor','daftovendordate'=>'Daf to Vendor Date','rtlmu'=>'RTL MU','mkup'=>'MK-UP','projectedunits'=>'Projected Units','targetfob'=>'Target FOB','targetmu'=>'Target MU','targetws'=>'Target WS','percolor'=>'Per Color','perstyle'=>'Per Style','incoterms'=>'Inco Terms','moq'=>'MOQ','thousandtofivethousandPCS'=>'1000 - 5000 PCS','fivethousandtotenthousandPCS'=>'5000 - 10000 PCS','ldpboat'=>'LDP Boat','ldpair'=>'LDP Air','startshipdate'=>'Start Ship Date','orderduedateviaboat'=>'Order Due Date Via Boat','orderduedateviaair'=>'Order Due Date Via Air','soss'=>'S/O OR S/S','nmbrofdefsmplneeded'=>'# of Dev Samples Needed','dafissued'=>'DAF Issued','sampleduedate'=>'Sample Due Date','daf2soss'=>'S/O OR S/S','daf2nmbrofdefsmplneeded'=>'# of Dev Samples Needed','daf2dafissued'=>'DAF Issued','daf2sampleduedate'=>'Sample Due Date','comments'=>'Comments'}
#data=[{'factory'=>'Factory'}]
  

%>
<% model_class='trackingsheet' %>
<%= form_for @trackingsheet, :html => {:class => "form-horizontal"} do |f| %>
	 <% if @trackingsheet.errors.any? %>
		 <div id="error_explanation">
		   <h2><%= pluralize(@trackingsheet.errors.count, "error") %> prohibited this post from being saved:</h2>

		   <ul>
		   <% @trackingsheet.errors.full_messages.each do |message| %>
		     <li><%= message %></li>
		   <% end %>
		   </ul>
		 </div>
	 <% end %>
	
 	
  <% @processmaster=Processmaster.find(@trackingsheet.processmaster_id) %>
<div class="container-fluid">
            	<div class="row-fluid">
					<div class="<% if @trackingsheet.persisted?  %>span2<% else %>span12<% end %>">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-info-sign"></i>
								</span>
								<h5>Tracking Sheet</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered">
									
									<tbody>
										<tr>
											<td>Division</td>
											<td><%= label_tag 'Division',@processmaster.division.to_s %></td>
										</tr>
										<tr>
											<td>Brand</td>
											<td><%= label_tag 'brand',@processmaster.brand.to_s %></td>
										</tr>
										<tr>
											<td>Season</td>
											<td><%= label_tag 'season',@processmaster.season.to_s %></td>
										</tr>
										<tr>
											<td>Year</td>
											<td><%= label_tag 'year',@processmaster.year.to_s %></td>
										</tr>
										<tr>
											<td>Market</td>
											<td><%= label_tag 'market',@processmaster.market.to_s %></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>



<div class="span8"><!-- -->
	<div class="widget-box">
	                            <div class="widget-title">
	                                <ul class="nav nav-tabs">
	                                    <li class="active"><a data-toggle="tab" href="#tab1">General</a></li>
	                                    <li class=""><a data-toggle="tab" href="#tab2">Sales Enters</a></li>
	                                    <li class=""><a data-toggle="tab" href="#tab3">Minimum MOQ</a></li>
										<li class=""><a data-toggle="tab" href="#tab4">First Cost Per Style</a></li>
										<li class=""><a data-toggle="tab" href="#tab5">LDP Load</a></li>
										<li class=""><a data-toggle="tab" href="#tab6">Customer Delivery</a></li>
									<!--	<li class=""><a data-toggle="tab" href="#tab7">1st DAF/STYLE Sample</a></li>
										<li class=""><a data-toggle="tab" href="#tab8">2nd DAF/STYLE Sample</a></li>-->
										<% if current_user.userrole=='operations' || current_user.userrole=='admin'  %>
										<li class=""><a data-toggle="tab" href="#tab9">Cost sheet</a></li>
										<% end %>
										<% if current_user.userrole=='operations' || current_user.userrole=='admin' || current_user.userrole=='vendor' %>
											<li class=""><a data-toggle="tab" href="#tab10">Testing</a></li>
										<% end %>
	                                </ul>
	                            </div>
	                            <div class="widget-content tab-content">
	                                <div id="tab1" class="tab-pane active">
										<div class="control-group">
											<label class="control-label">Images :</label>
												<div class="controls">
													<%= f.text_field :images, class:"span6",placeholder:"Images" %>
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Factory :</label>
												<div class="controls">
													<%= factory( @trackingsheet.factory)%>
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Subcontractor :</label>
												<div class="controls">
													<%= subcontractor( @trackingsheet.subcontractor)%>
												</div>
										</div>
										<!--<div class="control-group">
											<label class="control-label">Customer Name :</label>
												<div class="controls">
													customername( @trackingsheet.customername)
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Customer Account :</label>
												<div class="controls">
													customeraccount( @trackingsheet.customeraccount)
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Project :</label>
												<div class="controls">
													project( @trackingsheet.project)
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Reference Style :</label>
												<div class="controls">
													referncestyle( @trackingsheet.referncestyle)
												</div>
										</div> -->
										<div class="control-group">
											<label class="control-label">X Mill Date :</label>
												<div class="controls">
													<%= xmilldate( @trackingsheet.xmilldate)%>
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Production Lead Time :</label>
												<div class="controls">
													<%= productionleadtime( @trackingsheet.productionleadtime)%>
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Sales Proceed to Sample Request :</label>
												<div class="controls">
													<%= salesproceedtosamplerequest( @trackingsheet.salesproceedtosamplerequest)%>
												</div>
										</div>

										<div class="control-group">
											<label class="control-label">Proto Due Back From Vendor :</label>
												<div class="controls">
													<%= protoduebackfromvendor( @trackingsheet.protoduebackfromvendor)%>
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">Daf to Vendor Date :</label>
												<div class="controls">
													<%= daftovendordate( @trackingsheet.daftovendordate)%>
												</div>
										</div>
									<!--	<div class="control-group">
											<label class="control-label">Comments :</label>
												<div class="controls">
													<%#= comments( @trackingsheet.comments)%>
												</div>
										</div>-->
										<div class="control-group">
											<label class="control-label">RTL MU :</label>
												<div class="controls">
													<%= rtlmu( @trackingsheet.rtlmu)%>
												</div>
										</div>
										<div class="control-group">
											<label class="control-label">MK-UP :</label>
												<div class="controls">
													<%= mkup( @trackingsheet.mkup)%>
												</div>
										</div>
                  					
	                                </div>
	                                <div id="tab2" class="tab-pane">
										<div class="control-group">
										<label class="control-label">Projected Units :</label>
											<div class="controls"><%= projectedunits( @trackingsheet.projectedunits)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">Target FOB :</label>
											<div class="controls"><%= targetfob( @trackingsheet.targetfob)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">Target MU :</label>
											<div class="controls"><%= targetmu( @trackingsheet.targetmu)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">Target WS :</label>
											<div class="controls"><%= targetws( @trackingsheet.targetws)%></div>
										</div>
									</div>
	                                <div id="tab3" class="tab-pane">
										<div class="control-group">
										<label class="control-label">Per Color :</label>
											<div class="controls"><%= percolor( @trackingsheet.percolor)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">Per Style :</label>
											<div class="controls"><%= perstyle( @trackingsheet.perstyle)%></div>
										</div>
										<label class="control-label">Inco Terms :</label>
											<div class="controls"><%= incoterms( @trackingsheet.incoterms)%></div>
										
										
	                                </div>
	                                <div id="tab4" class="tab-pane">
										<div class="control-group">
										<label class="control-label">MOQ :</label>
											<div class="controls"><%= moq( @trackingsheet.moq)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">1000 - 5000 PCS:</label>
									<div class="controls"><%= thousandtofivethousandPCS( @trackingsheet.thousandtofivethousandPCS)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">5000 - 10000 PCS :</label>
											<div class="controls"><%= fivethousandtotenthousandPCS( @trackingsheet.fivethousandtotenthousandPCS)%></div>
										</div>
										
	                                </div>
	                                <div id="tab5" class="tab-pane">
										<div class="control-group">
										<label class="control-label">LDP Boat :</label>
											<div class="controls"><%= ldpboat( @trackingsheet.ldpboat)%></div>
										</div>
										
										<div class="control-group">
										<label class="control-label">LDP Air :</label>
											<div class="controls"><%= ldpair( @trackingsheet.ldpair)%></div>
										</div>
	                                </div>
	                                <div id="tab6" class="tab-pane">
										<div class="control-group">
										<label class="control-label">Start Ship Date:</label>
											<div class="controls"><%= startshipdate( @trackingsheet.startshipdate)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">Order Due Date Via Boat :</label>
											<div class="controls"><%= orderduedateviaboat( @trackingsheet.orderduedateviaboat)%></div>
										</div>
										<div class="control-group">
										<label class="control-label">Order Due Date Via Air :</label>
											<div class="controls"><%= orderduedateviaair( @trackingsheet.orderduedateviaair)%></div>
										</div>
										
	                                </div>
	                                <div id="tab7" class="tab-pane">
										<div class="control-group">
										<label class="control-label">S/O OR S/S :</label>
											<div class="controls"><%= f.text_field :soss, class:"span6",placeholder:"S/O OR S/S" %></div>
										</div>
										<div class="control-group">
										<label class="control-label"># of Dev Samples Needed :</label>
											<div class="controls"><%= f.text_field :nmbrofdefsmplneeded, class:"span6",placeholder:"# OF DEV. Samples Needed" %></div>
										</div>
										<div class="control-group">
										<label class="control-label">DAF Issued :</label>
											<div class="controls"><%= f.text_field :dafissued, class:"span6",placeholder:"DAF issued" %></div>
										</div>
										<div class="control-group">
										<label class="control-label">Sample Due Date :</label>
											<div class="controls"><%= f.text_field :sampleduedate, class:"span6",placeholder:"Sample Due Date" %></div>
										</div>
										
	                                </div>
	                                <div id="tab8" class="tab-pane">
										<div class="control-group">
										<label class="control-label">S/O OR S/S :</label>
											<div class="controls"><%= f.text_field :daf2soss, class:"span6",placeholder:"S/O OR S/S" %></div>
										</div>
										<div class="control-group">
										<label class="control-label"># of Dev Samples Needed :</label>
											<div class="controls"><%= f.text_field :daf2nmbrofdefsmplneeded, class:"span6",placeholder:"# OF DEV. Samples Needed" %></div>
										</div>
										<div class="control-group">
										<label class="control-label">DAF Issued :</label>
											<div class="controls"><%= f.text_field :daf2dafissued, class:"span6",placeholder:"DAF issued" %></div>
										</div>
										<div class="control-group">
										<label class="control-label">Sample Due Date :</label>
											<div class="controls"><%= f.text_field :daf2sampleduedate, class:"span6",placeholder:"Sample Due Date" %></div>
										</div>
											</div> 

										<div id="tab9" class="tab-pane">
										
										</div>                             

										<div id="tab10" class="tab-pane">
										
										
	                  </div>

										 
										</div>                            
	                        </div>

											<div class="widget-box" style="border-bottom: 1px solid #CDCDCD;">
										<div class="form-actions">
								 		<div class="control-group" style="float:left;border:none;">
											<label class="control-label">Comments:</label>
												<div class="controls"><%= f.text_area :comments, class:"span20",placeholder:"Comments",cols:"42", rows:"3" %></div>	
											</div>	
											<%= f.submit 'Save', :class => 'btn btn-success btn-xs',:style=>'float:right;' %>
	 									</div>	
									</div>	
</div><!-- -->

								


								<div class="span2">
									<div class="widget-box">
										<div class="widget-title font-size-10px">
											<span class="icon">
												<i class="icon-book"></i>
											</span>
											<h5>Previous Versions</h5>
										</div>
									<div class="widget-content display-inline-block pading-0-0-0-10px">
										<div class="scroll-area" data-spy="scroll">
											<% i=0 %>
											<%exptarray=['version','user_id']%>
											<% @trackingsheet.versions.reverse.each do |version| %>
											<%	if i < @trackingsheet.versions.length-1 %>
												<div class="widget-content nopadding no-border">
													<ul id="toggle-view">
														<li>
															<span class="label label-success label-with-border-radius">Version  #   <%= version.version %><span class='plus-minus'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+</span></span><br>
															<div class="panel"> 
															 <div class="trackingsheet-versions"> 
																		<div> Updated by: <%= User.find(version.full_attributes['user_id']).email%></div>
																		<% version.altered_attributes.each do |altattrbkey,altattrbval| %>
																		
																				<%	if !altattrbkey.in?(exptarray) %>
																					<div><%= data[altattrbkey] %> : <% if altattrbval.first!='' %> <%= altattrbval.first %> to <% end %><%= altattrbval.second %> </p></div>
																				<% end %>
																		<% end %>
									 								<div><%= 'Updated At ' %> : <%= version.updated_at %> </p></div>
								 									
								 							 	  
															</div>
														 </div>
														</li>
													</ul> 
												 </div>
												<% end %>
												<% i+=1 %>
												<% end %>
											</div>
										</div>
									</div>
								</div>


				
		
</div>			
<% end %>	


<!--
	<div class="span2">
						<div class="widget-box">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-file"></i>
								</span>
								<h5>Version History</h5>
							</div>
							<div class="widget-content nopadding">
								<table class="table table-bordered">
									<thead>
								
									</thead>
									<tbody>
										<tr>
											<td><a href="#">Version 1</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 2</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 3</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 4</a></td>
										</tr>
										<tr>
											<td><a href="#">Version 5</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
-->
