 
<% trackingsheets=Trackingsheet.where('processmaster_id'=>BSON::ObjectId.from_string(request.GET.first.second.to_s)).order('id asc')%>  
<% processmaster=Processmaster.find(request.GET.first.second)%>  
<% @brand=processmaster.try(:brand).try(:name)%>
 
 
								<% 
									#data=[] 
								 data={'images'=>'Images','factory'=>'Factory','subcontractor'=>'Sub Contractor','salestrackingsheetedtosamplerequest'=>'Sales Proceed to Sample Request','customername'=>'Customer Name','customeraccount'=>'Customer Account','project'=>'Project','xmilldate'=>'X Mill Date','productionleadtime'=>'Production Lead Time', 'salesproceedtosamplerequest'=>'Sales Proceed to Sample Request','protoduebackfromvendor'=>'Proto Due Back From Vendor','daftovendordate'=>'Daf to Vendor Date','rtlmu'=>'RTL MU','mkup'=>'MK-UP','projectedunits'=>'Projected Units','targetfob'=>'Target FOB','targetmu'=>'Target MU','targetws'=>'Target WS','percolor'=>'Per Color','perstyle'=>'Per Style','incoterms'=>'Inco Terms','moq'=>'MOQ','thousandtofivethousandPCS'=>'1000 - 5000 PCS','fivethousandtotenthousandPCS'=>'5000 - 10000 PCS','ldpboat'=>'LDP Boat','ldpair'=>'LDP Air','startshipdate'=>'Start Ship Date','orderduedateviaboat'=>'Order Due Date Via Boat','orderduedateviaair'=>'Order Due Date Via Air','soss'=>'S/O OR S/S','nmbrofdefsmplneeded'=>'# of Dev Samples Needed','dafissued'=>'DAF Issued','sampleduedate'=>'Sample Due Date','daf2soss'=>'S/O OR S/S','daf2nmbrofdefsmplneeded'=>'# of Dev Samples Needed','daf2dafissued'=>'DAF Issued','daf2sampleduedate'=>'Sample Due Date','comments'=>'Comments'} 
								#data=[{'factory'=>'Factory'}] 
   
 
								%> 
 
								<!--<div class="container-fluid">  
							           	<div class="row-fluid"> 
 
													<div class="span12"> 
														<div class="widget-box"> 
															<div class="widget-title"> 
																<span class="icon"> 
																	<i class="icon-info-sign"></i> 
																</span> 
																<h5>General Data</h5> 
															</div> 
															<div class="widget-content nopadding"> 
																<table class="table table-bordered"> 
																	<th>Division</th> 
																	 
																	<th>Season</th> 
																	<th>Contact</th> 
																	<th>Market</th> 
																	<th>Sub-Market</th> 
																	<%# model_class='trackingsheet' %> 
																		<%# exist=false%> 
																		<%# @a=1%> 
																		<%# trackingsheets.each do |trackingsheet|%> 
																			<%# break if exist==true %> 
																				<%# if !trackingsheet.vendorfulldata.blank? %> 
						<%#if current_user.email.eql?trackingsheet.vendorfulldata[trackingsheet.vendorfulldata.index('(')+1..-2] %> 
																			<%# exist=true%> 
																		<tbody> 
																			<td style="text-align:center;"><%#=trackingsheet.style.division.name%></td> 
																			<td style="text-align:center;"><%#=processmaster.try(:season).try(:name)%></td> 
																			<td style="text-align:center;"><%# if !processmaster.contact.blank? %><%# contact=User.find(processmaster.contact) %><%#=contact.try(:lastname).to_s+' '+contact.try(:firstname)+'( '+contact.try(:email)+')'.to_s%><%#end%></td>
																			<td style="text-align:center;"><%#=processmaster.try(:market).try(:name)%></td> 
																			<td style="text-align:center;"><%#=processmaster.try(:submarket).try(:name)%></td> 
																	 </tbody> 
																	<%# @a=@a+1%>
																	<%# @brand=processmaster.try(:brand).try(:name)%>	
																	<%# end %> 
																	<%# end %>		 
																		<%# end %>			 
																</table> 
															</div> 
														</div> 
													</div> 
								</div> 
								</div>--> 
 
								<div class="container-fluid"> 
 
 
								<div class="row-fluid"> 
 
								<!-- Newly Added Starts--> 
								<div class="span12"> 
	 
									<span style="text-align:right; margin-top:2px;"> 
								<div class="widget-box"> 
 
								<%#= link_to "Apply Changes", url_for(params),:class => 'btn btn-warning btn-xs' %> 	 
								</span> 
 
								<div class="widget-title"> 
									<span class="icon"> 
										<i class="icon-file"></i> 
									</span> 
	 
 
									<h5>Tracking Sheet</h5> 
 
 
 
									    
								</div>	 
							
 
																	<!-- Newly Added Ends--> 
																									
 <!--modal starts--> 
  
 <div class="modal history-modal hide" id="modal-history"> 
                                          <div class="modal-header"> 
                                             <button type="button" id="close-modal" class="close" data-dismiss="modal">×</button> 
                                             <h3 class="modal_head"></h3> 
											  
                                         </div> 
                                         <div class="modal-body"> 
			            					
				             
						                </div> 
</div> 
          
     
 <div id="overlay"></div> 
  
 <!-- modal ends--> 	

<div id="demoDiv">
			<div id="demoGrid">




 <table id="demoTable" class="table table-bordered tbuniformwidth  ts-table"  style="table-layout: fixed;">
 		<colgroup><col id="demoTableCol1"></colgroup>


 	<colgroup><col id="demoTableCol1"></colgroup>
 			<thead>																								
																														 

									<tr> 
										
										<th>ACTIONS</th>
										<th>IMAGE</th>
										<th>PROTO # / DAF #</th>
										<th>STYLE #</th>
										<th>DESIGN NAME /<br> DESCRIPTION</th>
										<th>PRODUCT CATEGORY</th>
										<th>FACTORY</th> 
										<th>SUBCONTRACTOR</th> 
										<th>BRAND /<br> CUSTOMER NAME</th> 
										<th>REFERENCE STYLE</th> 
										<th>CUSTOMER STYLE #</th> 
										
										<th>DESIGNER</th> 
										<th>GROUP NAME</th> 
										 
										<th>SHAPE (level code 4)</th> 
										<th>SIZE (level code 6)</th> 
										<th>FIBER (level code 2)</th> 
										<th>CONSTRUCTION<br>level code1</th>
										<th>FABRIC TYPE (level code 3)</th> 
										<th>GAUGE / END</th> 
										<th>FINISH</th> 
										<th>FINISH DETAIL</th> 
										<th>COLORS</th> 
										<th></th> 
										<th>PROJECTED UNITS</th> 
										<th>TARGET FOB</th> 										 
										<th>PER COLOR</th> 
										<th>INCO TERMS</th> 
										<th>PRICE BASED <br>UPON PROJECTION</th>
										<th>ADDITIONAL SURCHARGE</th> 
										<th>MOQ</th> 
										<th>1000 - 5000 PCS</th> 
										<th>5000 - 10000 PCS</th> 
										<th>10000 - 20000 PCS</th> 
										<th>20000+ PCS</th>										
										<th>X MILL DATE</th>										
										<th>PRODUCT LEAD TIME</th> 
										<th>PROCEEDS TO <br>SAMPLE REQUEST DATE</th>
										<th>PROTO DUE BACK <br>FROM VENDOR</th>
										<th>DAF TO VENDOR DATE</th>
										 
										<th> STYLE SAMPLE</th>
										<th>RECEIVED (VSDS)</th> 
										<th>APPROVED (VSDS)</th> 
						 
										</tr> 
										</thead> 
										 
	<% model_class='trackingsheet' %> 
	<% @a=1%> 
	<% trackingsheets.each do |trackingsheet|%>
	<% if !trackingsheet.vendor.blank? %>
	<%if current_user.email.eql?trackingsheet.vendor %>
	<%= form_for trackingsheet, :html => {:class => "form-horizontal trackingsheet_form"} do |f| %> 
														 
<tbody>	
<% if trackingsheet.lock=='true' %> 
	
	<% 	locked='true' %>
	<% else %>
	<% 	locked='false' %>
	

	<% end %>		 
<tr> 
																	<td style="text-align:center;">
																	
																		
					<div class="comment-container">									
				<%= link_to "Comments",'#modal-history',:class => 'btn btn-warning btn-xs comments', 'data-toggle':"modal",:trackingsheetid => trackingsheet.id,:locked=>locked %> 
				<div class='hide-me '>
				<div style="float:left">Add Comments &nbsp;</div>
				<%=best_in_place  trackingsheet, :comments, :as => :textarea,:nil => "Click to add comment!", :class=>"mybest", :style=>"width:150px; margin-bottom:40px;"%>
				
				</div>
					<div>	<br> 	
		<%= link_to 'History','#modal-history',:class=>'btn btn-warning float-right history',:style=>'width:68px;','data-toggle':"modal", :trackingsheetid => trackingsheet.id,:locked=>locked %> 		</div>
					<div><br>	
		
		<%= link_to "Documents",'#modal-history',:class => 'btn btn-warning btn-xs documents', 'data-toggle':"modal",:style=>"width:75px; margin-bottom:20px;",:trackingsheetid => trackingsheet.id,:processmasterid=>BSON::ObjectId.from_string(request.GET.first.second.to_s),:locked=>locked %> 																			</div>																	
																	
																	 </td> 
				<td><%= image_tag "/vendorportal"+trackingsheet.style.image.url(:small)  %><br>
																	<%= link_to "More Images",'#modal-history',:class => 'btn btn-warning btn-xs images', 'data-toggle':"modal",:trackingsheetid => trackingsheet.id,:style=>"width:80px; margin-top:14px;",:locked=>locked %>
																</td> 
																	<td class="bestin" style="text-align:center;">
																	<%if !trackingsheet.style.protonumber.blank?%>	<%=trackingsheet.style.try(:protonumber)%><%end%>
																	</td>	
																	<td><%=trackingsheet.style.stylecode %></td> 
																	<td><%=trackingsheet.style.stylename %></td>
																	<td class="bestin" style="text-align:center;">
						<%if !trackingsheet.style.productcategory.blank?%>	<%=trackingsheet.style.productcategory.try(:name)%><%end%>
						</td>													
<td class="bestin" style="text-align:center;">	
 	<%=best_in_place_if factory(trackingsheet),  trackingsheet, :factory, :as => :input,:nil => "Click to add content!"%>
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if subcontractor(trackingsheet),  trackingsheet, :subcontractor, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=@brand%> 
</td> 

<td class="bestin" style="text-align:center;">
<%= trackingsheet.style.try(:referencestyle).try(:name)%>
</td>

<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if customerstylenumber(trackingsheet),  trackingsheet, :customerstylenumber, :as => :input,:nil => "Click to add content!"%> 
</td> 

<td style="text-align:center;"> 
	<%=best_in_place_if designname(trackingsheet),  trackingsheet, :designname, :as => :input,:nil => "Click to add content!"%>
</td> 

<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if groupname(trackingsheet),  trackingsheet, :groupname, :as => :input,:nil => "Click to add content!"%> 
</td> 


<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if shape(trackingsheet),  trackingsheet, :shape, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if size(trackingsheet),  trackingsheet, :size, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if fiber(trackingsheet),  trackingsheet, :fiber, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if construction(trackingsheet),  trackingsheet, :construction, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if fabrictype(trackingsheet),  trackingsheet, :fabrictype, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if gauge_end(trackingsheet),  trackingsheet, :gauge_end, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if finish(trackingsheet),  trackingsheet, :finish, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if finishdetails(trackingsheet),  trackingsheet, :finishdetails, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if colors(trackingsheet),  trackingsheet, :colors, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td style="text-align:center;">
<div><%= link_to "Hardware",'#modal-history',:class => 'btn btn-warning btn-xs hardwares','data-toggle':"modal",:trackingsheet_id=>trackingsheet.id,:style=>'width:81px;',:locked=>locked %></div><br>
<div><%= link_to "Testing",'#modal-history',:class => 'btn btn-warning btn-xs testings','data-toggle':"modal",:trackingsheet_id=>trackingsheet.id,:style=>'width:81px;',:locked=>locked %></div><br>
<div><%= link_to "Components",'#modal-history',:class => 'btn btn-warning btn-xs components','data-toggle':"modal",:trackingsheet_id=>trackingsheet.id,:style=>'width:81px;',:locked=>locked %></div>
												</td>
												
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if projectedunits(trackingsheet),  trackingsheet, :projectedunits, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if targetfob(trackingsheet),  trackingsheet, :targetfob, :as => :input,:nil => "Click to add content!"%> 
</td> 

<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if percolor(trackingsheet),  trackingsheet, :percolor, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if incoterms(trackingsheet),  trackingsheet, :incoterms, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if pricebasedonprojection(trackingsheet),  trackingsheet, :pricebasedonprojection, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if additionalsurcharge(trackingsheet),  trackingsheet, :additionalsurcharge, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if moq(trackingsheet),  trackingsheet, :moq, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if thousandtofivethousandPCS(trackingsheet),  trackingsheet, :thousandtofivethousandPCS, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if fivethousandtotenthousandPCS(trackingsheet),  trackingsheet, :fivethousandtotenthousandPCS, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if tenthousandtotwentythousandPCS(trackingsheet),  trackingsheet, :tenthousandtotwentythousandPCS, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if twentythousandplusPCS(trackingsheet),  trackingsheet, :twentythousandplusPCS, :as => :input,:nil => "Click to add content!"%> 
</td> 
 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if xmilldate(trackingsheet),  trackingsheet, :xmilldate, :as => :input,:nil => "Click to add content!"%> 
</td> 

<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if productionleadtime(trackingsheet),  trackingsheet, :productionleadtime, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if salesproceedtosamplerequest(trackingsheet),  trackingsheet, :salesproceedtosamplerequest, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if protoduebackfromvendor(trackingsheet),  trackingsheet, :protoduebackfromvendor, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if daftovendordate(trackingsheet),  trackingsheet, :daftovendordate, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;">
	<%= link_to "Samples",'#modal-history',:class => 'btn btn-warning btn-xs samples', 'data-toggle':"modal",:trackingsheetid => trackingsheet.id,:style=>"width:75px; margin-bottom:20px;",:locked=>locked %>
</td>
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if vsdsreceived(trackingsheet),  trackingsheet, :vsdsreceived, :as => :input,:nil => "Click to add content!"%> 
</td> 
<td class="bestin" style="text-align:center;"> 
	<%=best_in_place_if vsdsapproved(trackingsheet),  trackingsheet, :vsdsapproved, :as => :input,:nil => "Click to add content!"%> 
</td> 
 
</tr>										 
 
		</tbody> 
		<% @a=@a+1%> 
		<% end %> 
		<% end %> 
		<% end %>	 
		<% end %>						 
		</table> 
		</div> 
 
 
 
															 
							</div> 
						 
						 
 
                                                                 
	               
 
                                 
	            </div>  
 
 
			</div>			 
 
	<!-- Newly Added Ends--> 
	</div> 
	</div> 
		 
