<p id="notice"><%= notice %></p>

<h1>Listing Trackingsheets</h1>

<table>
  <thead>
    <tr>
      <th>Images</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @trackingsheets.each do |trackingsheet| %>
      <tr>
        <td><%= trackingsheet.images %></td>
        <td><%= link_to 'Show', trackingsheet %></td>
        <td><%= link_to 'Edit', edit_trackingsheet_path(trackingsheet) %></td>
        <td><%= link_to 'Destroy', trackingsheet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trackingsheet', new_trackingsheet_path %>
