<%  if current_user.userrole==VendorPortal::Application.config.admin || current_user.userrole==VendorPortal::Application.config.operationadmin || current_user.userrole==VendorPortal::Application.config.operationuser  %>
<% display='true' %>
<% else if current_user.userrole==VendorPortal::Application.config.vendor %>
<% display=true %>
<% end %>
<% end %>
<div id="ajax-testings">

		<%= render 'index' %>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="icon-file"></i>
							</span>
							<h5>Listing Testings</h5><%  if current_user.userrole==VendorPortal::Application.config.admin || current_user.userrole==VendorPortal::Application.config.operationadmin || current_user.userrole==VendorPortal::Application.config.operationuser  %> <%= link_to "Add New",'#', :class =>'btn btn-success btn-xs add-testings',:trackingsheet_id=>params[:trackingsheet_id] %> <%end%>
							</div>	
							
<!-- newly added for modal starts-->
<div class="modal fade myclosemodal" id="delete-confirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Are you sure you want to delete this item?</h3>
  </div>
 
  <div class="delete-modal-footer">
	
    
   
  </div>
</div>
<!-- newly added for modal ends-->								
							<div class="scrollable-div" style="overflow-x: scroll;">
							<table class="table table-bordered testing-table">
								<thead>
									<tr>
											<th>REQUIRED TESTS</th>
											<th>NAME</th>
											<th>CUSTOMER</th>
											<th>DESCRIPTION</th>
											<th>SUPLLIER</th>
											<th>SUPPLIER REFERENCE NO.</th>
											<th>LEAD TIME</th>
											<th>TEST DATE</th>
											<th>RESULTS</th>
											<th>RE-TEST DATE</th>
											<th>RESULTS</th>
											<th>COST</th>
											<th>ACTION</th>
											
      						</tr>
									</thead>
									<tbody>
									<% @a=1%>
									<% @testings.each do |testing|%>
										<tr>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :requiredtests, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :name, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :customer, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :description, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :supplier, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :supplierrefferenceno, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :leadtime, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :testdate, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :results, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :retestdate, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :reresults, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
												<%=best_in_place_if display,  testing, :cost, :as => :input,:nil => "Click to add content!" %>
											</td>
											<td class="bestin" style="text-align:center;">
											<a href="#delete-confirm" data-id="<%= testing.id %>" class="delete-confirm btn btn-danger">Delete</a>
											</td>
										</tr>
									</tbody>
									<% @a=@a+1%>
									<% end %>
								</table>
							</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascripts">
		
		$('.add-testings').on('click',function(){

		var trackingsheetid=$(this).attr('trackingsheet_id');
		createandgettestings(trackingsheetid);

		});

		function createandgettestings(trackingsheetid){
		var trackingsheetid=trackingsheetid;
		$.get("/ajaxcreate_testings", {
				trackingsheet:trackingsheetid
			},function(data){
				$('.modal').css('width','1200');
				$('.modal').css('left','30%');
				$('.modal-body').html(data);

			});


		}

		
$('.testing-table td span').on('keydown',function(e){ 

	var keyCode = e.keyCode || e.which; 

	if (e.shiftKey && keyCode == 9){

			findPrevTabindextesting($(this).parent().prev());
			e.preventDefault(); 
	
	}else if (keyCode == 9) { 
		 findNextTabindextesting($(this).parent().next());
			e.preventDefault(); 
   
  }
});
	


function findNextTabindextesting(next){

if(next.children().is("span")){
$('#'+next.find('span').attr('id')).trigger('click');

}else{
nextspan=next.next();
findNextTabindextesting(nextspan);

}
}

function findPrevTabindextesting(prev){

if(prev.children().is("span")){
$('#'+prev.find('span').attr('id')).trigger('click');

}else{
prevspan=prev.prev();
findPrevTabindextesting(prevspan);

}
}

$("#close-modal").click(function(){
$('.modal-body').html('');
//location.reload();
});

$('.bestin').find('.best_in_place').each(function(){

if(!$(this).is('[data-bip-original-content]')){
$(this).html($(this).attr('data-bip-placeholder'));
}

});



//newly added
$('#delete-confirm').on('show', function() {
  var $submit = $(this).find('.btn-danger'),
      href = $submit.attr('href');
  $submit.attr('href', href.replace('pony', $(this).data('id')));
});

//delete prompt 
 $('.delete-confirm').on('click',function(e) {
 //alert("you clicked");
  e.preventDefault();
  var content='<a href="#"  class="btn btn-danger delete-confirmed" testing_id='+$(this).attr('data-id')+'>Delete</a> <a href="#"  class="btn btn-info btnclose">Cancel</a>';
  $('.delete-modal-footer').html(content);
  deleteinit();
  $('#delete-confirm').data('id', $(this).data('id')).modal('show');
});

function deleteinit(){
	$('.delete-confirmed').on('click',function(e) {
		var me=$(this);
		$.get('/deletetstst',{
			tststid:me.attr('testing_id')
		},function(){
			gettestings();
		});
	
	});
   //for cancel button in delete modal
    $('.btnclose').on('click',function(e) {
   	 $(".myclosemodal").modal("hide");
    });
	
}



 function gettestings(){
	 $.get("/testings", {
	     trackingsheet_id:$('.add-testings').attr('trackingsheet_id')
	   },function(data){
	 		$('.modal').css('width','1300');
	 		$('.modal').css('left','23%');
	 		$('.modal-body').html('');
	 		$('.modal-body').html(data);
		
	 });
}
//newly added ends


	</script>

	<%#= javascript_include_tag "application" %>
</div>
