<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sl</th>
                  <th>Productcategory Name</th>
                  <th>Created Date</th>
                  <th colspan='2'>Actions</th>
                </tr>
              </thead>
              <tbody>
								<% @i=1 %>
								<% @productcategories.each do |productcategory| %>
									<tr class="gradeX">
										<td><%= @i %></td>
										<td><%= productcategory.name %></td>
										<td><%= productcategory.created_at %></td>
										
										<td><div style="text-align:center;"><%= link_to 'Edit', edit_productcategory_path(productcategory),class:'btn btn-warning' %></div></td>
										<td><div style="text-align:center;">

<%= link_to 'Delete', productcategory, method: :delete, data: { header:"Product Category",confirm:(productcategory.name)+' ?' },class:'btn btn-danger' %>
</div></td>
									</tr>
									<% @i+=1%>
								<% end %>	
							</tbody>
            </table>
				
         	</div>
       </div>
   </div>
			<%= link_to 'New Productcategory', new_productcategory_path ,class:'btn btn-success' %>
</div>

