<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sl</th>
                  <th>Reference style Name</th>
                  <th>Created Date</th>
                  <th colspan='2'>Actions</th>
                </tr>
              </thead>
              <tbody>
								<% @i=1 %>
								<% @referencestyles.each do |referencestyle| %>
									<tr class="gradeX">
										<td><%= @i %></td>
										<td><%= referencestyle.name %></td>
										<td><%= referencestyle.created_at %></td>
										<td><%= link_to 'Edit', edit_referencestyle_path(referencestyle),class:'btn btn-info' %></td>
										<td><%= link_to 'Delete', referencestyle, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td>
									</tr>
									<% @i+=1%>
								<% end %>	
							</tbody>
            </table>
				
         	</div>
       </div>
   </div>
			<%= link_to 'New Reference style', new_referencestyle_path ,class:'btn btn-success' %>
</div>

