<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sl</th>
                  <th>Email id</th>
								 <th>Role</th>
                  <th>Created</th>
                  <th>Last Login</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
				  <% @i=1 %>
				  <% @users.each do |user| %>
					<tr class="gradeX">
						<td> <%=@i %></td>
						<td><%= link_to user.email, user %></td>
							<td><%= user.userrole %></td>
						<td><%= user.created_at %></td>
						<td><%= user.last_sign_in_at %></td>
					<!--	<td><%= link_to 'Show', user, :class => 'btn btn-primary btn-xs' %></td>-->
						<td><%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-warning btn-xs' %></td>
						<td><%= link_to 'Delete', user_path(user), :class => 'btn btn-danger btn-xs', :method => 'delete', :confirm => 'Are you sure?' %> </td>
					</tr>
					<% @i+=1%>
				 <% end %>	
             </tbody>
            </table>
				
         	</div>
       </div>
   </div>
   			<%= link_to 'New User', new_user_path,class:'btn btn-success' %>
			
</div>


    </div>

  
  

