
<%= form_for @style,  :html => { :multipart => true,:class => "form-horizontal" } do |f| %>
 <div class="container-fluid">
  <div class="row-fluid">
  <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table with-check">
		          <tbody>
								<tr>
									
									<td class="span4">
											<% if  current_user.userrole==VendorPortal::Application.config.admin  %>
											
											<div class="control-group">
												<label class="control-label">Division</label>
													<div class="controls">
														<%= f.collection_select :division_id,Division.all,:id,:name, {:include_blank => "Please select"} %>
															
													</div>
												</div>
													<% else %><div class="hide-me">
															
																	<%= f.collection_select :division_id,Division.where('id'=>current_user.division.id),:id,:name,  {:include_blank => "Please select"},:selected=>current_user.division.id %>
															</div>	
														<% end %>
											<div class="control-group">
												<label class="control-label">Season</label>
													<div class="controls">
															<%= f.collection_select :season_id,Season.all,:id,:name,  {:include_blank => ""},:class=>'style_season add-select', :id=>"lstDropDown_A",:onKeyDown=>"fnKeyDownHandler_A(this, event);",:onKeyUp=>"fnKeyUpHandler_A(this, event); return false;",:onKeyPress => "return fnKeyPressHandler_A(this, event);" ,:onChange=>"fnChangeHandler_A(this);",:onFocus=>"fnFocusHandler_A(this);" %><i class="icon-plus-sign add-through-select" url="/ajaxcreate_seasons"></i>
													</div>
												</div>
												<div class="control-group">
												<label class="control-label">Product Category</label>
													<div class="controls">
															<%= f.collection_select :productcategory_id,Productcategory.all,:id,:name,  {:include_blank => ""},:class=>'style_productcategory add-select', :id=>"lstDropDown_A",:onKeyDown=>"fnKeyDownHandler_A(this, event);",:onKeyUp=>"fnKeyUpHandler_A(this, event); return false;",:onKeyPress => "return fnKeyPressHandler_A(this, event);" ,:onChange=>"fnChangeHandler_A(this);",:onFocus=>"fnFocusHandler_A(this);" %><i class="icon-plus-sign add-through-select" url="/ajaxcreate_productcategories"></i>
													</div>
												</div>
												<div class="control-group">
												<label class="control-label">Reference Style</label>
													<div class="controls">
															<%= f.collection_select :referencestyle_id,Referencestyle.all,:id,:name,  {:include_blank => ""},:class=>'style_referencestyle add-select', :id=>"lstDropDown_A",:onKeyDown=>"fnKeyDownHandler_A(this, event);",:onKeyUp=>"fnKeyUpHandler_A(this, event); return false;",:onKeyPress => "return fnKeyPressHandler_A(this, event);" ,:onChange=>"fnChangeHandler_A(this);",:onFocus=>"fnFocusHandler_A(this);" %><i class="icon-plus-sign add-through-select" url="/ajaxcreate_referencestyles"></i>
													</div>
												</div>
												<div class="control-group">
												<label class="control-label">Proto #/ DAF #</label>
													<div class="controls">
															<%= f.text_field :protonumber, class:"span6",placeholder:"Proto #/ DAF #" %>
													</div>
												</div>
												<div class="control-group">
												<label class="control-label">Style Number</label>
													<div class="controls">
															<%= f.text_field :stylecode, class:"span6",placeholder:"Style Number" %>
													</div>
												</div>
												<div class="control-group">
												<label class="control-label">Style Name</label>
													<div class="controls">
															<%= f.text_field :stylename, class:"span6",placeholder:"stylename" %>
													</div>
												</div>
											
												
													
													<div class="control-group">
													<label class="control-label">Image</label>
														<div class="controls">	
																<% if @style.image.url!='/images/original/missing.png' %>
																<%= image_tag "/vendorportal"+@style.image.url(:small)  %>
																<%	end			 %>
															
																	<%= f.file_field :image,class:'styleimage' %>
																
													</div>
										</td>
										<td class="span8">
													<%= render :partial => "form_users",:object => @style, :locals=>{:f=> f } %>
											
									</td>	
								</tr>
								<tr>
									<td>
										<%= f.submit 'Save', :class => 'btn btn-success btn-xs' %>
									</td>	
									<td>
									</td>
								</tr>
		           </tbody>
            </table>
				</div>
      </div>
  	
  </div>
<% end %>
  	</div>  
  </div>
