
<%= form_for @style,  :html => { :multipart => true,:class => "form-horizontal" } do |f| %>
 <div class="container-fluid">
  <div class="row-fluid">
  <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table with-check">
		          <tbody>
								<tr>
									
									<td class="span4">
											<div class="control-group">
												<label class="control-label">Style Name</label>
													<div class="controls">
															<%= f.text_field :stylename, class:"span6",placeholder:"stylename" %>
													</div>
												</div>
												<div class="control-group">
												<label class="control-label">Style Code</label>
													<div class="controls">
															<%= f.text_field :stylecode, class:"span6",placeholder:"Style Code" %>
													</div>
												</div>
												
												
												<div class="control-group">
													<label class="control-label">Division</label>
														<div class="controls">
															<%= f.collection_select :division,Division.all,:id,:name, prompt: true %>
																
														</div>
													</div>
													<div class="control-group">
													<label class="control-label">Brand</label>
														<div class="controls">
																<%= f.text_field :brand, class:"span6",placeholder:"Brand" %>
														</div>
													</div>
													
													<div class="control-group">
													<label class="control-label">Market</label>
														<div class="controls">
																<%= f.text_field :market, class:"span6",placeholder:"Brand" %>
														</div>
													</div>
													<label class="control-label">Season</label>
														<div class="controls">
																<%= f.text_field :season, class:"span6",placeholder:"Season" %>
														</div>
													</div>
													<div class="control-group select_user_division">
													<label class="control-label">Vendor</label>
														<div class="controls">
																<%= f.collection_select :vendor,User.all('userrole'=>'vendor'),:id,:name,prompt: true%>
					
														</div>
													</div>
													<div class="control-group">
													<label class="control-label">Image</label>
														<div class="controls">	
																<% if @style.image.url!='/images/original/missing.png' %>
																<%= image_tag @style.image.url(:small)  %>
																<%	end			 %>
															
																	<%= f.file_field :image,class:'styleimage' %>
																
													</div>
										</td>
										<td class="span8">
											<% @UT=Usertype.all() %> 
											<% @UT.each do |usertype|  %>
											<% if usertype.userrole!='admin' && usertype.userrole!='vendor'   %>
											<% @U=User.all('userrole'=>usertype.userrole) %>
											<% if usertype.userrole.titleize!='Operations' %>
											<div class="widget-box">
                 				 	<div class="widget-title"><span class="icon"><i class="icon-file"></i></span>
										
                   				 	<h5><%= usertype.userrole.titleize %></h5>
                    			</div>
													<div class="widget-content nopadding">
										  <% @U.each do |user|  %>
												<div></div>
														<span class="span3 checkbox_seperation">
															<!--<div class="controls">
																<label>
																	<div id="uniform-undefined" class="checker">
																		<span>
																			<input style="opacity: 0;" name="users[]" type="checkbox">
																		</span>
																	</div> 
																	<%= user.email %>
															 	</label>
															</div>-->
																
															<%= check_box_tag("style[user_ids][]", user.id, user.id.in?(@style.users.collect(&:id))) %> <%= user.lastname %> <%= user.firstname %>
															<!--	<input name="users[]" type="checkbox" value="<%= user.email %>">	<%= user.email %>-->
														</span>
													
												<% end %>
											</div>
										</div><br>
										<% end %>
									<% end %><% end %>
									
									</td>	
								</tr>
								<tr>
									<td>
										<%= f.submit 'Save', :class => 'btn btn-success btn-xs' %>
									</td>	
									<td>
									</td>
								</tr>
		           </tbody>
            </table>
				</div>
      </div>
  	
  </div>
<% end %>
  	</div>  
  </div>
