<%  current_user.division.styles.each do |style| %>
<tr class="gradeX">
<td> <%=@slno %></td>
<td><%=  style.stylename %></td>
<td><%= style.stylecode %></td>
<td><% @k=1 %><% style.users.each do |user| %><%= @k.to_s+'. '+user.email %><br><% @k+=1 %><% end %></td>
<td><%= image_tag "/vendorportal"+style.image.url(:small)  %></td>
<td><%= link_to 'Edit',  edit_style_path(style) , :class => 'btn btn-warning btn-xs' %></td>
<td><%= link_to 'Delete', style_path(style), :class => 'btn btn-danger btn-xs', :method => 'delete', :confirm => 'Are you sure?' %> </td>
</tr>
<% @slno+=1%>
<% end %>	



