<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sl</th>
                 <th>Stylename</th>
									<th>Stylecode</th>
									<th>Users</th>
									<th>Image</th>
                  <th colspan="2">Actions</th>
                </tr>
              </thead>
              <tbody>
				  <% @i=1 %>
				  <%  @styles.each do |style| %>
					<tr class="gradeX">
						<td> <%=@i %></td>
						<td><%= link_to style.stylename, style %></td>
							<td><%= style.stylecode %></td>
						<td><% @k=1 %><% style.users.each do |user| %><%= @k.to_s+'. '+user.email %><br><% @k+=1 %><% end %></td>
						<td><%= image_tag style.image.url(:small)  %></td>
						<td><%= link_to 'Edit',  edit_style_path(style) , :class => 'btn btn-warning btn-xs' %></td>
						<td><%= link_to 'Delete', style_path(style), :class => 'btn btn-danger btn-xs', :method => 'delete', :confirm => 'Are you sure?' %> </td>
					</tr>
					<% @i+=1%>
				 <% end %>	
             </tbody>
            </table>
				
         	</div>
       </div>
   </div>
   			<%= link_to 'New Style', new_style_path,class:'btn btn-success' %>
			
</div>
</div>

  
  

