<p id="notice"><%= notice %></p>

<h1>Listing Submarkets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submarkets.each do |submarket| %>
      <tr>
        <td><%= submarket.name %></td>
        <td><%= link_to 'Show', submarket %></td>
        <td><%= link_to 'Edit', edit_submarket_path(submarket) %></td>
        <td><%= link_to 'Destroy', submarket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Submarket', new_submarket_path %>
