<%= form_for @trackingsheetimage,  :html => {:target=>"upload_frame", :multipart => true,:class => "form-horizontal" } do |f| %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="widget-box">
			<div class="widget-content nopadding">
				<table class="table table-bordered data-table with-check">
					<tbody>
						<tr>
							<td class="span3" style="text-align:center;">
								
									Description
									
							</td>
							<td class="span4" style="text-align:center;">
								
										<%= f.text_field :description, class:"span12",placeholder:"description" %>
										<%= hidden_field(:trackingsheetimage, :trackingsheet, :value =>params[:trackingsheetid]) %>
							</td>
							<td class="span3" style="text-align:center;">
								
								Image
									
							</td>
							<td class="span4" style="text-align:center;">
								
										<%= f.file_field :image,class:'trackingsheetimage' %>
									
							</td>
							<td class="span4" style="text-align:center;">
										<%= f.submit 'Upload', :class => 'btn btn-success btn-xs' %>
							</td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

 <% end %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-file"></i>
				</span>
				<h5>Listing Trackingsheetimages</h5>
				</div>
			<div class="widget-content nopadding">
				<table>
					
					<tbody>
							<tr>
								<td  colspan="4" style="border:none;">
									<table style="border:none;width:100%;">
										<thead>
											<th style="border:none;width:23.4%;border-right: 1px solid #333 !important;text-align:center;">Description
											</th>
											<th style="border:none;width:36.5%;border-right: 1px solid #333 !important;text-align:center;">Image
											</th>
											<th  style="border:none;width:19%;border-right: 1px solid #333 !important;text-align:center;">Added By
											</th>
											<th  style="text-align:center;">Action
											</th>
										</thead>
									</table>
								</td>
							</tr>
						<% @trackingsheetimages.each do |trackingsheetimage| %>
							<tr>
							<td  colspan="4" style="border:none;">
							<%= form_for trackingsheetimage,  :html => {:target=>"upload_frame",:multipart => true,:class => "form-horizontal" } do |f| %>
							<table style="border:none;">
								<tr style="border-top: 1px solid #333 !important;">
									<td class="span3" style="border:none;border-right: 1px solid #333 !important;text-align:center;">
										<%= f.text_field :description, class:"span10",placeholder:"description" %>
										<%= hidden_field(:trackingsheetimage, :trackingsheet,:value =>trackingsheetimage.trackingsheet.id) %>
									</td>
									<td clas="span3" style="border:none;border-right: 1px solid #333 !important;text-align:center;">
										<% if trackingsheetimage.image.url!='/images/original/missing.png' %>
										<%= image_tag trackingsheetimage.image.url(:small)  %>
										<%	end			 %>
										<%= f.file_field :image,class:'trackingsheetimage' %>
									</td>
									<td clas="span3" style="border:none;border-right: 1px solid #333 !important;text-align:center;">
										<div  class="span3"><%= trackingsheetimage.user.firstname+' '+trackingsheetimage.user.lastname.to_s %></div>
									</td>
									<td clas="span3" style="border:none;text-align:center;">
										<%= f.submit 'Update', :class => 'btn btn-success btn-xs' %>
									</td>	
									<!--	<td><%#= link_to 'Destroy', trackingsheetimage, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
								</tr>
								</table>
								</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<iframe id="upload_frame" name="upload_frame" style="display: none"></iframe>

