<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @trackingsheetimage.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trackingsheetimage.description %>
</p>

<%= link_to 'Edit', edit_trackingsheetimage_path(@trackingsheetimage) %> |
<%= link_to 'Back', trackingsheetimages_path %>
