<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>Sl</th>
                  <th>Market Name</th>
                  <th>Created Date</th>
                  <th colspan='2'>Actions</th>
                </tr>
              </thead>
              <tbody>
								<% @i=1 %>
								<% @markets.each do |market| %>
									<tr class="gradeX">
										<td><%= @i %></td>
										<td><%= market.name %></td>
										<td><%= market.created_at.strftime("%d %b %Y,%T") %></td>
										<td><div style="text-align:center;"><%= link_to 'Edit', edit_market_path(market),class:'btn btn-warning' %></div></td>
										<td><div style="text-align:center;"><%= link_to 'Delete', market, method: :delete, data: { header:"Market",confirm:(market.name)+' ?'},class:'btn btn-danger' %></div></td>
									</tr>
									<% @i+=1%>
								<% end %>	
							</tbody>
            </table>
				
         	</div>
       </div>
   </div>
			<%= link_to 'New Market', new_market_path ,class:'btn btn-success' %>
</div>

