<%= form_for @processmaster, :html => { :multipart => true,:class => "form-horizontal" }  do |f| %>
	 <% if @processmaster.errors.any? %>
		 <div id="error_explanation">
		   <h2><%= pluralize(@processmaster.errors.count, "error") %> prohibited this post from being saved:</h2>

		   <ul>
		   <% @processmaster.errors.full_messages.each do |message| %>
		     <li><%= message %></li>
		   <% end %>
		   </ul>
		 </div>
	 <% end %>
	
<div class="container-fluid">
     <div class="row-fluid">
					<div class="span12">
						<div class="widget-box  border-bottom">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-info-sign"></i>
								</span>
								<h5>Process Master</h5>
							</div>
							<div class="widget-content nopadding">
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td style="<% if !@processmaster.persisted?  %><%= 'width:100%;'.to_s %><% else %><%= 'width:40%;'.to_s %><% end %>">
													<table class="table table-bordered border-left-0px">
														<tbody>
																<tr>
																<td>Name</td>
																
																<td><%= f.text_field :name, class:"span3" %></td>
															</tr>
															
															
															<% if !@processmaster.persisted? %><% else %>
															<tr>
																<td>Refer Style</td>
																<td class="border-none"> <%#= f.collection_select :style_ids,current_user.division.styles,:id,:stylename %>
															<div class="widget-box border-none">
                 				 	<div class="widget-content nopadding no-border">
													<% if current_user.userrole==VendorPortal::Application.config.operationadmin %>
													<% current_user.division.styles.each do |style|  %>
											
										  			<span class="span3 checkbox_seperation">
																														
															<%= check_box_tag("processmaster[style_ids][]", style.id, style.id.in?(@processmaster.styles.collect(&:id)),"class"=>"selectstyle") %> <%= style.stylename %>
															
														</span>
													
														<% end %>
														<% else if  current_user.userrole==VendorPortal::Application.config.admin %>
														<% @styles=Style.all %>
														<% @styles.each do |style|  %>
											
										  			<span class="span3 checkbox_seperation">
																														
															<%= check_box_tag("processmaster[style_ids][]", style.id, style.id.in?(@processmaster.styles.collect(&:id)),"class"=>"selectstyle") %> <%= style.stylename %>
															
														</span>
													
														<% end %>
														<% end %>
														<% end %>
														</div>
													</div>
															</td>
															</tr>
														<% end %>
															
														</tbody>
													</table>
												</td>
												
											</tr>
										</tbody>
									</table>
							</div>
							<div style="text-align:right" class="form-actions">
 										<%= f.submit 'Save', :class => 'btn btn-success btn-xs' %>
 							</div>
						</div>
					</div>
		</div>
</div>
<% end %>
