<%= form_for @processmaster, :html => { :multipart => true,:class => "form-horizontal" }  do |f| %>
	 <% if @processmaster.errors.any? %>
		 <div id="error_explanation">
		   <h2><%= pluralize(@processmaster.errors.count, "error") %> prohibited this post from being saved:</h2>

		   <ul>
		   <% @processmaster.errors.full_messages.each do |message| %>
		     <li><%= message %></li>
		   <% end %>
		   </ul>
		 </div>
	 <% end %>
	
<div class="container-fluid">
     <div class="row-fluid">
					<div class="span12">
						<div class="widget-box  border-bottom">
							<div class="widget-title">
								<span class="icon">
									<i class="icon-info-sign"></i>
								</span>
								<h5>Process Master</h5>
							</div>
							<div class="widget-content nopadding">
									<table class="table table-bordered">
										<tbody>
											<tr>
												<td style="<% if !@processmaster.persisted?  %><%= 'width:100%;'.to_s %><% else %><%= 'width:40%;'.to_s %><% end %>">
													<table class="table table-bordered border-left-0px">
														<tbody>
																<tr>
																<td>Name</td>
																
																<td><%= f.text_field :name, class:"span3" %></td>
															</tr>
															<tr>
																<td>Brand</td>
																<td>
																	<%= f.text_field :brand, class:"span6",placeholder:"Brand" %>
																</td>
															</tr>
													
															<tr>
																<td>Market</td>
																<td>
																	<%= f.text_field :market, class:"span6",placeholder:"Market" %>
															</td>
															</tr>
													
															<tr>
																<td>Season</td>
																<td>
																	<%= f.text_field :season, class:"span6",placeholder:"Season" %>	
																</td>
														</tr>

															<% if current_user.userrole==VendorPortal::Application.config.admin  %>
															<tr>
																<td>Division</td>
																<td>
																		<%if !@processmaster.division.blank? %>
																		<% div_id=@processmaster.division.id %>
																		<%else%>
																		<% div_id=''%>
																		<%end%>
																		<%= f.collection_select :division,Division.all,:id,:name, prompt: true,:selected=>div_id %>
																</td>
														</tr>
														<% else %><tr class="hide-me">
																<td>Division</td>
																<td>
																		<%= f.collection_select :division,Division.where('id'=>current_user.division.id),:id,:name, prompt: true,:selected=>current_user.division.id %>
																</td>
														</tr>
															<% end %>
															<% if !@processmaster.persisted? %><% else %>
															<tr>
																<td>Refer Style</td>
																<td class="border-none"> <%#= f.collection_select :style_ids,current_user.division.styles,:id,:stylename %>
																<% if current_user.userrole==VendorPortal::Application.config.operationadmin || current_user.userrole==VendorPortal::Application.config.admin  %>
																<%= f.select :style_ids ,@processmaster.division.styles.collect {|s| [ s.stylename, s.id ] }, { include_blank: false },{ multiple: true } %>
																<%else%>

																<% end %>
															</td>
															</tr>
														<% end %>
															
														</tbody>
													</table>
												</td>
												
											</tr>
										</tbody>
									</table>
							</div>
							<div style="text-align:right" class="form-actions">
 										<%= f.submit 'Save', :class => 'btn btn-success btn-xs' %>
 							</div>
						</div>
					</div>
		</div>
</div>
<% end %>
