
	<% @processmasters.each do |processmaster| %>
		<% exist=false%>
		<% processmaster.styles.each do |style| %>
		<% break if exist==true %>
		<% style.trackingsheets.each do |ts| %>
		<%if current_user.email.eql?"vendor1@vendor.com" %>
		<% exist=true %>
		<tr class="gradeX">
			<td><input type="radio" name="selectprocess"></td>
			<td><%= @slno %></td>
			<td><% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %></td>
			<td><%= processmaster.try(:name) %></td>
			<td><%= processmaster.try(:brand).try(:name)  %></td>
			<td><%= processmaster.try(:season).try(:name)  %></td>
			<td><%= processmaster.try(:market).try(:name)  %></td>
			<td><%= processmaster.try(:submarket).try(:name)  %></td>
			
			<td><%= processmaster.created_at %></td>
			<td><%= processmaster.trackingsheets.count %></td>
			<td>	<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),class:'btn btn-warning' %></td>
		</tr>	
	<% @slno+=1%>
	<% end %>	
	<% end %>	

<% end %>
<% end %>
