<% @i=1 %>
	<% @processmasters.each do |processmaster| %>
		<% exist=false%>
		<% processmaster.styles.each do |style| %>
		<% break if exist==true %>
		<% style.trackingsheets.each do |ts| %>
		<% if !ts.vendor.blank? %>
		<% if current_user.id==BSON::ObjectId.from_string(ts.try(:vendor).to_s) %>
		<% exist=true %>
		<tr class="gradeX">
			<td><input type="radio" name="selectprocess"></td>
			<td><%= @i %></td>
			<td><% if !style.try(:division).blank? %><%= Division.find(style.division).name %><% end %></td>
			<td><%= style.try(:brand) %></td>
			<td><%= style.try(:season) %></td>
			<td><%= style.try(:market) %></td>
			<td><%= processmaster.created_at %></td>
			<td>	<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),class:'btn btn-warning' %></td>
		</tr>	
	<% @i+=1%>
	<% end %>	
	<% end %>	
	<% end %>	

<% end %>
<% end %>
