	<% @processmasters.each do |processmaster| %>
		<tr class="gradeX">
			<td><input type="radio" name="selectprocess"></td>
			<td><%= @slno %></td>
			<td><% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %></td>
			<td><%= processmaster.try(:name)%></td>
			<td><%= processmaster.try(:brand).try(:name)  %></td>
			<td><%= processmaster.try(:season).try(:name) %></td>
			<td><%= processmaster.try(:market).try(:name) %></td>
			<td><%= processmaster.try(:submarket).try(:name)  %></td>
			<td><%= processmaster.created_at.strftime("%d %b %Y,%T") %></td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.trackingsheets.count %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= link_to 'Edit', edit_processmaster_path(processmaster),class:'btn btn-info' %>
				</div>
			</td>				
			<td>
				<div style="text-align:center !important;">
				<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),style:"width:97px;",class:'btn btn-warning' %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= link_to 'Delete', processmaster, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %>
				</div>
			</td>

		</tr>	
	<% @slno+=1%>
<% end %>	


