	<% @processmasters.each do |processmaster| %>
		<tr class="gradeX">
			
			<td>
				<div style="text-align:center !important;">
				<%= @slno %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.try(:name)%>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.try(:brand).try(:name)  %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.try(:season).try(:name) %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.try(:market).try(:name) %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.try(:submarket).try(:name)  %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.created_at.strftime("%d %b %Y,%T") %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= processmaster.trackingsheets.count %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= link_to 'Edit', edit_processmaster_path(processmaster),class:'btn btn-info' %>
				</div>
			</td>				
			<td>
				<div style="text-align:center !important;">
				<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),style:"width:97px;",class:'btn btn-warning' %>
				</div>
			</td>
			<td>
				<div style="text-align:center !important;">
				<%= link_to 'Delete', processmaster, method: :delete, data: { header:"Process Master",confirm:(processmaster.name)},class:'btn btn-danger' %>
				</div>
			</td>

		</tr>	
	<% @slno+=1%>
<% end %>	


