
	<% @processmasters.each do |processmaster| %>
		<%if processmaster.trackingsheets.where(:vendor=>current_user.email).count > 0 %>		
			<tr class="gradeX">
				
				<td>
					<div style="text-align:center !important;">
					<%= @slno %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.try(:name) %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.try(:brand).try(:name)  %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.try(:season).try(:name)  %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.try(:market).try(:name)  %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.try(:submarket).try(:name)  %>
					</div>
				</td>
				
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.created_at.strftime("%d %b %Y,%T") %>
					</div>
				</td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.trackingsheets.where(:vendor=>current_user.email).count %>
					</div>
				</td>
				<td>	
					<div style="text-align:center !important;">
					<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),class:'btn btn-warning' %>
					</div>
				</td>
			</tr>	
			<% @slno+=1%>
		<% end %>
	<% end %>
