<% @i=1 %>
	<% @processmasters.each do |processmaster| %>
		<% exist=false%>
		<% processmaster.styles.each do |style| %>
		<% break if exist==true %>
		
		<%allowed_users=[style.designer_id.to_s,style.operationuser_id.to_s,style.sales_id.to_s]%>
		<% if current_user.id.to_s.in?(allowed_users) %>
		<% exist=true %>
		
		<tr class="gradeX">
			<td><input type="radio" name="selectprocess"></td>
			<td><%= @i %></td>
			<td><% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %></td>
			<td><%= processmaster.try(:brand) %></td>
			<td><%= processmaster.try(:season) %></td>
				<td><%= processmaster.try(:year) %></td>
			<td><%= processmaster.try(:market) %></td>
			<td><%= processmaster.created_at %></td>
			<td>	<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),class:'btn btn-warning' %></td>
		</tr>	
	<% @i+=1%>
	<% end %>	
<% end %>
<% end %>
