
	<% @processmasters.each do |processmaster| %>
		<% exist=false%>
		<% processmaster.styles.each do |style| %>
		<% break if exist==true %>
		
		<%allowed_users=[style.designer_id.to_s,style.operationuser_id.to_s,style.sales_id.to_s]%>
		<% if current_user.id.to_s.in?(allowed_users) %>
		<% exist=true %>
		
		<tr class="gradeX">
			<td><input type="radio" name="selectprocess"></td>
			<td><%= @slno %></td>
			<td><% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %></td>
			<td><%= processmaster.try(:name) %></td>
			<td><%= processmaster.try(:brand).try(:name) %></td>
			<td><%= processmaster.try(:season).try(:name) %></td>
			<td><%= processmaster.try(:market).try(:name) %></td>
			<td><%= processmaster.try(:submarket).try(:name) %></td>
			<td><%= processmaster.created_at %></td>
			<td>
			<div style="text-align:center !important;">
				<%  if current_user.userrole==VendorPortal::Application.config.designer  %>
					<%= processmaster.styles.where(:designer_id=>current_user.id).count %>
				<%  else if current_user.userrole==VendorPortal::Application.config.operationuser  %>
					<%= processmaster.styles.where(:operationuser_id=>current_user.id).count %>			
				<%  else if current_user.userrole==VendorPortal::Application.config.sales  %>
					<%= processmaster.styles.where(:sales_id=>current_user.id).count %>
				<% end %>	
				<% end %>
				<% end %>
			</div>
			</td>	
			<td>	
				<div style="text-align:center !important;">
				<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),class:'btn btn-warning' %>
				</div>
			</td>
		</tr>	
	<% @slno+=1%>
	<% end %>	
<% end %>
<% end %>
