
	<% @processmasters.each do |processmaster| %>
		<%if processmaster.trackingsheets.where(:vendor=>current_user.email).count > 0 %>		
			<tr class="gradeX">
				<td><input type="radio" name="selectprocess"></td>
				<td><%= @slno %></td>
				<td><% if !processmaster.division.blank? %><%= processmaster.division.name %><% end %></td>
				<td><%= processmaster.try(:name) %></td>
				<td><%= processmaster.try(:brand).try(:name)  %></td>
				<td><%= processmaster.try(:season).try(:name)  %></td>
				<td><%= processmaster.try(:market).try(:name)  %></td>
				<td><%= processmaster.try(:submarket).try(:name)  %></td>
				
				<td><%= processmaster.created_at.strftime("%d %b %Y,%T") %></td>
				<td>
					<div style="text-align:center !important;">
					<%= processmaster.trackingsheets.where(:vendor=>current_user.email).count %>
					</div>
				</td>
				<td>	
					<div style="text-align:center !important;">
					<%= link_to 'Tracking Sheet', trackingsheets_path(:processmaster_id => processmaster.id),class:'btn btn-warning' %>
					</div>
				</td>
			</tr>	
			<% @slno+=1%>
		<% end %>
	<% end %>
