<table class="table table-bordered data-table">
	<thead>
	<tr>
		<th></th>
		<th>Sl</th>
		<th>Division</th>
		<th>Name</th>
		<th>Brand</th>
		<th>Season</th>
		<th>Market</th>
		<th>Sub Market</th>
		<th>Created Date</th>
		
		<th colspan="<% if current_user.userrole==VendorPortal::Application.config.admin %>3<% else if current_user.userrole==VendorPortal::Application.config.operationadmin %>3<% else if current_user.userrole!=VendorPortal::Application.config.admin || current_user.userrole!=VendorPortal::Application.config.operationadmin  %> 1<% end %><% end %><% end %>">Actions</th>
	</tr>
	</thead>
	<tbody>
			<% if current_user.userrole==VendorPortal::Application.config.admin %>
				<%= render 'index_admin' %>
			<% else if current_user.userrole==VendorPortal::Application.config.operationadmin %>
				<%= render 'index_op' %>
			<% else if current_user.userrole==VendorPortal::Application.config.vendor %>
				<%= render 'index_vendor' %>
			<% else if current_user.userrole!=VendorPortal::Application.config.vendor && current_user.userrole!=VendorPortal::Application.config.operationadmin %>
				<%= render 'index_normal' %>
			<%end%>
			<%end%>
			<%end%>
			<%end%>
	</tbody>
</table>

<%= ajax_will_paginate @processmasters %>
