
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
				<table style="border:none;">
					<tr>
						<td style="border:none;">
						</td>
						<td style="border:none;">
						
						<%= form_tag processmasters_path, :method => 'get',:id =>'default_search' do%>
						<% if current_user.userrole!=VendorPortal::Application.config.vendor %>
						 <%= text_field_tag :searchterm, params[:searchterm],:title => 'Search by Season...',:placeholder=>'Search Here....' %>
						 <% else %>
						
						 <%= select_tag "searchterm", options_from_collection_for_select(Division.all, "id", "name"), prompt: "Select division" %>
						 <%end%>
						<% end %>
						</td>
					</tr>
				</table>
			</div>
	</div>
</div>
<% allowed_users=[VendorPortal::Application.config.admin,VendorPortal::Application.config.operationadmin]%>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			
				<div class="widget-box">
					<div class="widget-content nopadding">
					<div class="widget-content nopadding">

            			<!-- Partial Starts -->
						<div id='processmasters'>
							<%= render  'processmasters' %>
						</div>
						<!-- Partails Ends-->

				</div>
		</div>
	</div>
<% if current_user.userrole.in?(allowed_users) %>	<%= link_to 'New Process', new_processmaster_path ,class:'btn btn-success' %><%end%>

</div>
<!-- EOF -->
