<% #breadcrumb :processmaster, @processmaster %>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
				<a href="#" name="exportprocess" class="btn btn-primary btn-xs" style="float:right;">Export CSV</a>
        <div class="widget-box">
          <div class="widget-content nopadding">
						
            <table class="table table-bordered data-table">
              <thead>
                <tr>
									 <th></th>
                  <th>Sl</th>
                  <th>Division</th>
				  <th>Brand</th>
				  <th>Season</th>
				 <th>Market</th>
				  <th>Created Date</th>
					<% allowed_users=['admin','operations']%>
          <th colspan="<% if current_user.userrole.in?(allowed_users) %>3<% else %> 1<% end %>">Actions</th>
                </tr>
              </thead>
              <tbody>
								
								<% @i=1 %>
								<% @processmasters.each do |processmaster| %>
								<%	if current_user.userrole!='admin' %>
								<% exist=false%>
								<% processmaster.styles.each do |style| %>
								<% break if exist==true %>
								 <% if current_user.id.in?(style.users.collect(&:id)) %>
									 <% exist=true %>
									<% @trackingsheet=Trackingsheet.where("processmaster_id"=>processmaster._id) %>
									<% @trackingsheet.each do |tk| %>
									<% @trackingsheet_id= tk.id %>
									<%end%>
									
									<%# if current_user.id.in?(processmaster.styles.user_ids) || current_user.userrole.in?(allowed_users) %>
										<tr class="gradeX">
												<td><input type="radio" name="selectprocess"></td>
											  <td><%= @i %></td>
											  <td><% if !style.try(:division).blank? %><%= Division.find(style.division).name %><% end %></td>
										      <td><%= style.try(:brand) %></td>
										      <td><%= style.try(:season) %></td>
										      <td><%= style.try(:market) %></td>
										      <td><%= processmaster.created_at %></td>
													<% if current_user.userrole.in?(allowed_users) %><td><%= link_to 'Edit', edit_processmaster_path(processmaster),class:'btn btn-info' %></td><%end%>
													<td><%= link_to 'Tracking Sheet', edit_trackingsheet_path(@trackingsheet_id),class:'btn btn-warning' %></td>
												<% if current_user.userrole.in?(allowed_users) %>	<td><%= link_to 'Destroy', processmaster, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td><%end%>
										</tr>	
										<% @i+=1%>
									<% end %>	
								<% end %>	<%# if allowed users %>
									<% else %><%# if admin %>
											<% @trackingsheet=Trackingsheet.where("processmaster_id"=>processmaster._id) %>
									<% @trackingsheet.each do |tk| %>
									<% @trackingsheet_id= tk.id %>
									<%end%>
									
									<%# if current_user.id.in?(processmaster.styles.user_ids) || current_user.userrole.in?(allowed_users) %>
										<tr class="gradeX">
												<td><input type="radio" name="selectprocess"></td>
											  <td><%= @i %></td>
											  <td><% if !processmaster.try(:styles).first.try(:division).blank? %><%= Division.find(processmaster.styles.first.division).name %><% end %></td>
										      <td><%= processmaster.try(:styles).first.try(:brand) %></td>
										      <td><%= processmaster.try(:styles).first.try(:season) %></td>
										      <td><%= processmaster.try(:styles).first.try(:market) %></td>
										      <td><%= processmaster.created_at %></td>
													<% if current_user.userrole.in?(allowed_users) %><td><%= link_to 'Edit', edit_processmaster_path(processmaster),class:'btn btn-info' %></td><%end%>
													<td><%= link_to 'Tracking Sheet', edit_trackingsheet_path(@trackingsheet_id),class:'btn btn-warning' %></td>
												<% if current_user.userrole.in?(allowed_users) %>	<td><%= link_to 'Destroy', processmaster, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger' %></td><%end%>
										</tr>	
										<% @i+=1%>
									<% end %>	
								<% end %>	
							</tbody>
            </table>
				
         	</div>
       </div>
   </div>
				<% if current_user.userrole.in?(allowed_users) %>	<%= link_to 'New Process', new_processmaster_path ,class:'btn btn-success' %><%end%>

</div>
<!-- EOF -->
