<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<a href="#" name="exportprocess" class="btn btn-primary btn-xs" style="float:right;">Export CSV</a>
				<div class="widget-box">
					<div class="widget-content nopadding">
					<table class="table table-bordered data-table">
						<thead>
						<tr>
							<th></th>
							<th>Sl</th>
							<th>Division</th>
							<th>Brand</th>
							<th>Season</th>
							<th>Market</th>
							<th>Created Date</th>
							<% allowed_users=[VendorPortal::Application.config.admin,VendorPortal::Application.config.operationadmin]%>
							<th colspan="<% if current_user.userrole==VendorPortal::Application.config.admin %>3<% else if current_user.userrole==VendorPortal::Application.config.operationadmin %>3<% else if current_user.userrole!=VendorPortal::Application.config.admin || current_user.userrole!=VendorPortal::Application.config.operationadmin  %> 1<% end %><% end %><% end %>">Actions</th>
						</tr>
						</thead>
						<tbody>
								<% if current_user.userrole==VendorPortal::Application.config.admin %>
									<%= render 'index_admin' %>
								<% else if current_user.userrole==VendorPortal::Application.config.operationadmin %>
									<%= render 'index_op' %>
								<% else if current_user.userrole==VendorPortal::Application.config.vendor %>
									<%= render 'index_vendor' %>
								<% else if current_user.userrole!=VendorPortal::Application.config.vendor && current_user.userrole!=VendorPortal::Application.config.operationadmin %>
									<%= render 'index_normal' %>
								<%end%>
								<%end%>
								<%end%>
								<%end%>
						</tbody>
					</table>
				</div>
		</div>
	</div>
<% if current_user.userrole.in?(allowed_users) %>	<%= link_to 'New Process', new_processmaster_path ,class:'btn btn-success' %><%end%>

</div>
<!-- EOF -->
