<%= form_for @proce, :html => {:class => "form-horizontal"} do |f| %>
	 <% if @proce.errors.any? %>
		 <div id="error_explanation">
		   <h2><%= pluralize(@proce.errors.count, "error") %> prohibited this post from being saved:</h2>

		   <ul>
		   <% @proce.errors.full_messages.each do |message| %>
		     <li><%= message %></li>
		   <% end %>
		   </ul>
		 </div>
	 <% end %>
<div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
	<div class="widget-box">
		<div class="control-group">
		<label class="control-label">Division</label>
			<div class="controls">
					<%= f.text_field :division, class:"span6",placeholder:"Division" %>
			</div>
		</div>
		<div class="control-group">
		<label class="control-label">Brand</label>
			<div class="controls">
					<%= f.text_field :brand, class:"span6",placeholder:"Brand" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Season</label>
			<div class="controls">
					<%= f.text_field :season, class:"span6",placeholder:"Season" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Year</label>
			<div class="controls">
					<%= f.text_field :year, class:"span6",placeholder:"Year" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Market</label>
			<div class="controls">
					<%= f.text_field :market, class:"span6",placeholder:"Market" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Customer Name</label>
			<div class="controls">
					<%= f.text_field :customername, class:"span6",placeholder:"Customer Name" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Customer Account</label>
			<div class="controls">
					<%= f.text_field :customeraccount, class:"span6",placeholder:"Customer Account" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Project</label>
			<div class="controls">
					<%= f.text_field :project, class:"span6",placeholder:"Project" %>
			</div>
	   </div>
		<div class="control-group">
		<label class="control-label">Reference Style</label>
			<div class="controls">
					<%= f.text_field :referncestyle, class:"span6",placeholder:"Reference Style" %>
			</div>
	   </div>
	<div class="form-actions">
		<%= f.submit 'Save', :class => 'btn btn-success btn-xs' %>
	</div>  
</div>

</div>
</div>


<% end %>

<!-- EOF-->	 
	 
	 

