<% #breadcrumb :proce, @proce %>
<div class="container-fluid">
            	<div class="row-fluid">
					<div class="span3 offset"></div>
					<div class="span6">
						<div class="widget-box">
							<div class="widget-content nopadding">
								
								<table class="table table-bordered">
																	<thead>
																		<tr>
																			<th>Name</th>
																			<th>Process</th>
																		</tr>
																	</thead>
																	<tbody>
																		<tr>
																			<td>Division</td>
																			<td><%= @proce.division %></td>
																		</tr>
																		<tr>
																			<td>Brand</td>
																			<td><%= @proce.brand %></td>
																		</tr>
																		<tr>
																			<td>Season</td>
																			<td><%= @proce.season %></td>
																		</tr>
																		<tr>
																			<td>Year</td>
																			<td><%= @proce.year %></td>
																		</tr>
																		<tr>
																			<td>Market</td>
																			<td><%= @proce.market %></td>
																		</tr>
																		<tr>
																			<td>Customer Name</td>
																			<td><%= @proce.customername %></td>
																		</tr>
																		<tr>
																			<td>Customer Account</td>
																			<td><%= @proce.customeraccount %></td>
																		</tr>
																		<tr>
																			<td>Project</td>
																			<td><%= @proce.project %></td>
																		</tr>
																		<tr>
																			<td>Reference Style</td>
																			<td><%= @proce.referncestyle %></td>
																		</tr>
																	</tbody>
																</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
<span class="pull-right">
<%= link_to 'Edit', edit_proce_path(@proce),class:'btn btn-info' %>  
<%= link_to 'Back', proces_path,class:'btn btn-primary' %>
</span>
            
            

