<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "VendorPortal" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

   
  </head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Vendor Portal</a></h1>
</div>
<!--close-Header-part--> 

<!--top-Header-messaages-->
<div class="btn-group rightzero"> <a class="top_message tip-left" title="Manage Files"><i class="icon-file"></i></a> <a class="top_message tip-bottom" title="Manage Users"><i class="icon-user"></i></a> <a class="top_message tip-bottom" title="Manage Comments"><i class="icon-comment"></i><span class="label label-important">5</span></a> <a class="top_message tip-bottom" title="Manage Orders"><i class="icon-shopping-cart"></i></a> </div>
<!--close-top-Header-messaages--> 

<!--top-Header-menu-->
<div id="user-nav" class="navbar navbar-inverse">
  <ul class="nav">
	 <li class="" ><a title="" href="#"><i class="icon icon-user"></i> <span class="text"> Signed in as: <%= current_user.lastname%>  <%=current_user.firstname%></span></a></li>
   
   
    <li class=""><%= link_to edit_user_path(current_user), :method => 'get'  do %><i class="icon icon-cog"></i> Profile
		 <% end %>
		</li>	
		
    <li class=""> 
	<% if user_signed_in? %>	
		<%= link_to destroy_user_session_path, :method => 'get'  do %>
	  	 	<i class="icon icon-share-alt"></i> Logout
		 <% end %>
	<% else %>
	    <%= link_to 'Log in', new_user_session_path %>
	<% end %>
	</li>
  </ul>
</div>
<!--<div id="search">
  <input type="text" placeholder="Search here..."/>
  <button type="submit" class="tip-left" title="Search"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-Header-menu-->

<div id="sidebar"> <a href="#" class="visible-phone"><i class="icon icon-th-list"></i> Tables</a>
  <ul>
    <li class="active"><a href="http://stage.echodesign.com/vendorportal/"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
		<% if  current_user.userrole==VendorPortal::Application.config.admin %>
		<li> <a href="<%= usertypes_path %>"><i class="icon-list-alt"></i> <span>Usertypes</span></a> </li>
    <li> <a href="<%= users_path %>"><i class="icon-user"></i> <span>Users</span></a> </li>
    <li> <a href="<%= styles_path %>"><i class="icon-cog"></i> <span>Styles</span></a> </li>
	<li> <a href="<%= divisions_path %>"><i class="icon-align-justify"></i> <span>Divisions</span></a> </li>

		<%end%>
		<% if  current_user.userrole==VendorPortal::Application.config.operationadmin %>
		<li> <a href="<%= styles_path %>"><i class="icon-cog"></i> <span>Styles</span></a> </li>
		<%end%>
  </ul>
</div>
<div id="content">
<div id="content-header">
	<%if controller_name=='processmasters' && action_name=='index' %>
	
	<% @pagename = 'List  Process'  %>
	<% else if controller_name=='processmasters' && action_name!='index'%>
	
	<% @pagename = action_name.titleize+' Process'.to_s %>
	
	<% else if action_name=='index' && controller_name!='home'%>
	
	<% 
	
	@pagename = 'List  '+controller_name.titleize.to_s
	
	else if action_name!='index' && controller_name!='home' %>
	<%@pagename = action_name.titleize+'  '+controller_name.titleize.to_s%>
	<%else if action_name=='index' && controller_name=='home'%>
	<%@pagename=''%>
	
	<%end%><%end%><%end%><%end%><%end%>
	

	
    <div id="breadcrumb"> <a href="http://stage.echodesign.com/vendorportal/" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a> <a href="#" class="current"><%= @pagename  %></a> </div>
	
   <div id="breadcrumb"><%= breadcrumbs pretext: " ",separator: " " %></div>
   

   
  </div><br>
 <div class="col-md-9">
          <%= bootstrap_flash %>
         
  </div>
<% if controller_name!='home' %>
 <div class="widget-title">
  <!--<span class="icon"><i class="icon-th"></i></span>--> 
  <h4><%= @pagename %></h4>
 </div>
<%end%>
		 <%= yield %>
    </div>
  </div>
</div>
<div class="row-fluid">
  <div id="footer" class="span12"> 2015 &copy; </div>
</div>
<div id="loader"><%= image_tag asset_path('ajax-loader.gif')%></div>
<%= javascript_include_tag "application" %>
</body>

</html>

