<%= simple_form_for(@trackingsheetdocument) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :document %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
