<%= form_for @trackingsheetdocument,  :html => {:target=>"upload_frame", :multipart => true,:class => "form-horizontal" } do |f| %>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="widget-box">
			<div class="widget-content nopadding">
				<table class="table table-bordered data-table with-check">
					<tbody>
						<tr>
							<td class="span3" style="text-align:center;">
								
									Description
									
							</td>
							<td class="span4" style="text-align:center;">
								
										<%= f.text_field :description, class:"span12",placeholder:"description" %>
										<%= hidden_field(:trackingsheetdocument, :trackingsheet, :value =>params[:trackingsheetid]) %>
										<%= hidden_field(:trackingsheetdocument, :processmaster, :value =>params[:processmasterid]) %>
							</td>
							<td class="span3" style="text-align:center;">
								
								Document
									
							</td>
							<td class="span4" style="text-align:center;">
								
										<%= f.file_field :document,class:'trackingsheetdocument' %>
									
							</td>
							<td class="span4" style="text-align:center;">
										<%=link_to 'Upload','#',:class=>'add-doc btn btn-success btn-xs'  %>
									<div class='hide-me'>	<%= f.submit 'Upload', :class => 'submit-ts-doc btn btn-success btn-xs' %></div>
							</td>	
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

 <% end %>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="widget-box">
			<div class="widget-title">
				<span class="icon">
					<i class="icon-file"></i>
				</span>
				<h5>Listing Trackingsheet Documents</h5>
				</div>
			<div class="widget-content nopadding">
				<table>
					
					<tbody>
						<tr>
								<td  colspan="4" style="border:none;">
									<table style="border:none;width:100%;">
										<thead>
											<th style="border:none;width:20%;border-right: 1px solid #333 !important;text-align:center;">Description
											</th>
											<th style="border:none;width:40%;border-right: 1px solid #333 !important;text-align:center;">File
											</th>
											
											<th style="border:none;width:10%;border-right: 1px solid #333 !important;text-align:center;">View file
											</th>
											
											<th  style="border:none;width:10%;border-right: 1px solid #333 !important;text-align:center;">Added By
											</th>
											<th  style="border:none;width:10%;border-right: 1px solid #333 !important;text-align:center;">Action
											</th>
										</thead>
									</table>
								</td>
							</tr>
						<% @trackingsheetdocuments.each do |trackingsheetdocument| %>
							<tr>
							<td  colspan="4" style="border:none;">
							<%= form_for trackingsheetdocument,  :html => {:target=>"upload_frame",:multipart => true,:class => "form-horizontal" } do |f| %>
							
							
<!-- newly added for modal starts-->
<div class="modal fade myclosemodal" id="delete-confirm">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Are you sure you want to delete this document?</h3>
  </div>
 
  <div class="delete-modal-footer">
	
    
   
  </div>
</div>
<!-- newly added for modal ends-->		
							
							<table style="border:none;">
								<tr style="border-top: 1px solid #333 !important;">
									<td style= "width:22.1%;text-align: center;border-right: 1px solid #333 !important;">
										<%= f.text_field :description, class:"span10",placeholder:"description" %>
										<%= hidden_field(:trackingsheetdocument, :trackingsheet,:value =>trackingsheetdocument.trackingsheet.id) %>
										<%= hidden_field(:trackingsheetdocument, :processmaster, :value =>trackingsheetdocument.processmaster.id) %>
									</td>
									<td style= "width:44.7%; text-align: left;border-right: 1px solid #333 !important;">
										<%= link_to trackingsheetdocument.document_file_name,trackingsheetdocument.document.url.to_s  %>
										<%= f.file_field :document,class:'trackingsheetdocument' %>
									</td>
									<td width="10%" style="text-align:center;border-right: 1px solid #333 !important;">
									<div><%= link_to 'View', trackingsheetdocument.document.url, :class => 'btn btn-success btn-xs' %>
		<a href="#delete-confirm" data-id="<%= trackingsheetdocument.id %>" class="delete-confirm btn btn-danger">Delete</a>						
									</div>
								</td>
									<td style= "width:11.1%;text-align:center;border-right: 1px solid #333 !important;">
										
										<div><%= trackingsheetdocument.user.try(:firstname)+' '+trackingsheetdocument.user.try(:lastname).to_s %></div>
									</td>
									<td style= "width:11.2%;text-align:center;">
										
													<%=link_to 'Update','#',:class=>'add-doc btn btn-success btn-xs'  %>
									<div class='hide-me'>	<%= f.submit 'Update', :class => 'submit-ts-doc btn btn-success btn-xs' %></div>
																			
									</td>	
									<!--<td><%#= link_to 'Destroy', trackingsheetdocument, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
								</tr>
								</table>
								</td>
								</tr>
							<% end %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<iframe id="upload_frame" name="upload_frame" style="display: none" loaded='true'></iframe>
<script type="text/javascripts">

$('.add-doc').on('click',function(){
$('#upload_frame').attr('loaded','false');
$(this).next().find('.submit-ts-doc').trigger('click');
});

$('#upload_frame').load(function(){
if($(this).attr('loaded')!='true'){

getdocuments();

$('#upload_frame').attr('loaded','true');
}
});


//newly added
$('#delete-confirm').on('show', function() {
  var $submit = $(this).find('.btn-danger'),
      href = $submit.attr('href');
  $submit.attr('href', href.replace('pony', $(this).data('id')));
});

//delete prompt 
 $('.delete-confirm').on('click',function(e) {
 //alert("you clicked");
  e.preventDefault();
  var content='<a href="#"  class="btn btn-danger delete-confirmed" document_id='+$(this).attr('data-id')+'>Delete</a> <a href="#"  class="btn btn-info btnclose">Cancel</a>';
  $('.delete-modal-footer').html(content);
  deleteinit();
  $('#delete-confirm').data('id', $(this).data('id')).modal('show');
});

function deleteinit(){
	$('.delete-confirmed').on('click',function(e) {
		var me=$(this);
		$.get('/deletetsdoc',{
			tsdocid:me.attr('document_id')
		},function(){
			getdocuments();
		});
	
	});
   //for cancel button in delete modal
    $('.btnclose').on('click',function(e) {
   	 $(".myclosemodal").modal("hide");
    });
	
}


 function getdocuments(){
	 $.get("/trackingsheetdocuments", {
	     trackingsheetid:$('#trackingsheetdocument_trackingsheet').val(),
	 		processmasterid:$('#trackingsheetdocument_processmaster').val()
	   },function(data){
	 		$('.modal').css('width','1300');
	 		$('.modal').css('left','23%');
	 		$('.modal-body').html('');
	 		$('.modal-body').html(data);
		
	 });
}
</script>
