<p id="notice"><%= notice %></p>

<p>
  <strong>Document:</strong>
  <%= @trackingsheetdocument.document %>
</p>

<p>
  <strong>Description:</strong>
  <%= @trackingsheetdocument.description %>
</p>

<%= link_to 'Edit', edit_trackingsheetdocument_path(@trackingsheetdocument) %> |
<%= link_to 'Back', trackingsheetdocuments_path %>
